<div>
  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__black header__transparent" bottom_cls="header__bottom-border"
    [header_solid]="true" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area breadcrumb__style-4 breadcrumb__spacing include-bg grey-bg-4"
      style="background-image: url(/assets/img/portfolio/breadcrumb/portfolio-breadcrumb-2.jpg);">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-xl-7 col-lg-9">
            <div class="breadcrumb__content p-relative z-index-1">
              <div class="breadcrumb__video mb-30">
                <a (click)="utilsService.playVideo('LA4hnu1OM7k')" class="breadcrumb__video-btn popup-video pointer">
                  <svg width="14" height="18" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 11L0 21.3923V0.607696L18 11Z" fill="currentColor" />
                  </svg>
                </a>
              </div>
              <div class="breadcrumb__list">
                <span><a href="#">Home</a></span>
                <span class="dvdr"><i class="fa-solid fa-circle-small"></i></span>
                <span><a href="#">Business</a></span>
                <span class="dvdr"><i class="fa-solid fa-circle-small"></i></span>
                <span>Investment Trend Monitor: Top Trends in 2022 </span>
              </div>
              <h3 class="breadcrumb__title">Keep it Minimal, yet Expressive</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- portfolio area start -->
    <section class="portfolio__area pt-70 pb-85">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-5">
            <div class="portfolio__details-wrapper-2 mb-50">
              <span class="portfolio__details-subtitle">DESCRIPTION</span>
              <h3 class="portfolio__details-title-3">About Project</h3>

              <div class="portfolio__details-btn-2">
                <a routerLink="/home/home-main" class="tp-btn">
                  Visit Website
                  <svg width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.6934 1L25 4.20003L21.6934 7.4" stroke="currentColor" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M0.999999 4.19897H25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7">
            <div class="portfolio__details-wrapper-2">
              <div class="portfolio__details-content-2 mb-30">
                <p>We’ve created a unique visual system and strategy across the wide existing spectrum visible mobile
                  applications and found yourself in a wide, straggling with wainscots.Lacus laoreet consequuntur a
                  commodo voluptatibus venenatis vero leo cras?autem maiores adipiscing assumenda, nesciunt deleniti
                  quaerat veritatis culpa dolores sollicitudin, dolorum inceptos? Convallis aut, nostra nonummy!</p>
              </div>
              <div class="portfolio__details-task portfolio__details-task-2 mb-50">
                <h3 class="portfolio__details-title-sm portfolio__details-title-sm-2">Task</h3>
                <p>Rebuild a unified visual system for the advertising agency, made of steel which can change the world
                  in a while.</p>
              </div>
              <div class="portfolio__details-meta flex-wrap d-flex align-items-center">
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Client:</h5>
                    <span>Nature Planner</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Awards:</h5>
                    <span>First Place</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Category:</h5>
                    <span>Portfolio</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Date:</h5>
                    <span>Ocober 3, 2021</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio area end -->

    <!-- image box area start -->
    <section class="image__box-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image__box-item w-img mb-30">
              <img src="/assets/img/portfolio/details/img-1.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="image__box-item w-img mb-30">
              <img src="/assets/img/portfolio/details/img-2.jpg" alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="image__box-item w-img mb-30">
              <img src="/assets/img/portfolio/details/img-3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- image box area end -->

    <!-- heading style -->
    <section class="tp-section-style-area pt-60 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5">
            <div class="tp-section-wrapper">
              <span class="tp-section-subtitle">Our Process</span>
              <h3 class="tp-section-title">Creating a unique visual system and strategy.</h3>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7">
            <div class="tp-section-wrapper">
              <p>With more than 16+ years of experience, our team has become a leader in digital design and innovations. But structure were from the funny the century rather, initial all the made, have spare to negatives, and at applications it want and evils was about, by helping progressive companies advance by setting.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- heading style -->

    <!-- features area start -->
    <section class="features__area pb-60">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="features__item-14 grey-bg-14 mb-60">
              <div class="features__icon-14">
                <span>01.</span>
              </div>
              <h3 class="features__title-14">Idea & Concept</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nibh.!</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="features__item-14 grey-bg-14 mb-60">
              <div class="features__icon-14">
                <span>02.</span>
              </div>
              <h3 class="features__title-14">Development</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nibh.!</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="features__item-14 grey-bg-14 mb-60">
              <div class="features__icon-14">
                <span>03.</span>
              </div>
              <h3 class="features__title-14">Testing & Support</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nibh.!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- features area end -->

    <!-- portfolio slider area start -->
    <section class="portfolio__area fix pb-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 col-lg-10">
            <div class="portfolio__details-slider-2 p-relative">
              <div class="portfolio__details-slider-active-2 swiper-container" style="overflow: visible">
                <div class="swiper-wrapper">
                  <div class="portfolio__details-slider-item-2 w-img swiper-slide">
                    <img src="/assets/img/portfolio/details/slider/portfolio-details-slider-1.jpg" alt="">
                  </div>
                  <div class="portfolio__details-slider-item-2 w-img swiper-slide">
                    <img src="/assets/img/portfolio/details/slider/portfolio-details-slider-2.jpg" alt="">
                  </div>
                  <div class="portfolio__details-slider-item-2 w-img swiper-slide">
                    <img src="/assets/img/portfolio/details/slider/portfolio-details-slider-3.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="portfolio__details-arrow portfolio-details-slider-arrow-2 d-none d-md-block">
                <button type="button" class="portfolio-details-2-button-prev slick-prev slick-arrow">
                  <i class="fa-regular fa-arrow-left"></i>
                </button>
                <button type="button" class="portfolio-details-2-button-next slick-next slick-arrow">
                  <i class="fa-regular fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio slider area end -->

    <!-- portfolio navigation area start -->
    <section class="portfolio__navigation-area portfolio__more-border d-none d-md-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="portfolio__more-left d-flex align-items-center">
              <div class="portfolio__more-icon">
                <a routerLink="/portfolio/details-video">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 12.9718L2.06061 8.04401C1.47727 7.46205 1.47727 6.50975 2.06061 5.92778L7 1"
                      stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class="portfolio__more-content">
                <p>Previous Work</p>
                <h4>
                  <a routerLink="/portfolio/details-video">Traveling Solo Is Awesome</a>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="portfolio__more-menu text-center">
              <a routerLink="/portfolio/masonry">
                <span>
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M11.6673 4.66662C12.9559 4.66662 14.0006 3.62196 14.0006 2.33331C14.0006 1.04466 12.9559 0 11.6673 0C10.3786 0 9.33398 1.04466 9.33398 2.33331C9.33398 3.62196 10.3786 4.66662 11.6673 4.66662Z" fill="currentColor" />
                    <path d="M2.33331 4.66662C3.62196 4.66662 4.66662 3.62196 4.66662 2.33331C4.66662 1.04466 3.62196 0 2.33331 0C1.04466 0 0 1.04466 0 2.33331C0 3.62196 1.04466 4.66662 2.33331 4.66662Z"
                      fill="currentColor" />
                    <path d="M11.6673 13.9996C12.9559 13.9996 14.0006 12.955 14.0006 11.6663C14.0006 10.3777 12.9559 9.33301 11.6673 9.33301C10.3786 9.33301 9.33398 10.3777 9.33398 11.6663C9.33398 12.955 10.3786 13.9996 11.6673 13.9996Z"
                      fill="currentColor" />
                    <path d="M2.33331 13.9996C3.62196 13.9996 4.66662 12.955 4.66662 11.6663C4.66662 10.3777 3.62196 9.33301 2.33331 9.33301C1.04466 9.33301 0 10.3777 0 11.6663C0 12.955 1.04466 13.9996 2.33331 13.9996Z"
                      fill="currentColor" />
                  </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="portfolio__more-right d-flex align-items-center justify-content-end">
              <div class="portfolio__more-content">
                <p>Next Work</p>
                <h4>
                  <a routerLink="/portfolio/details-video">A Beautiful Sunday Morning</a>
                </h4>
              </div>
              <div class="portfolio__more-icon">
                <a routerLink="/portfolio/details-video">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 12.9718L5.93939 8.04401C6.52273 7.46205 6.52273 6.50975 5.93939 5.92778L1 1"
                      stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio navigation area end -->

    <!-- portfolio comment area start -->
    <section class="portfolio__comment grey-bg-7 pt-90 pb-105">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="portfolio__comment-top">
              <h3 class="portfolio__comment-title">Post a Comment</h3>
              <p>Your email address will not be published. Required fields are marked *</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-12">
            <div class="portfolio__comment-form">
              <app-portfolio-post-form></app-portfolio-post-form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio comment area end -->

    <!-- video popup -->
    <app-video-popup></app-video-popup>
    <!-- video popup -->
  </main>

  <!-- footer area start -->
  <app-footer-one></app-footer-one>
  <!-- footer area end -->
</div>
