<section class="features__list-area">
  <div class="container">
     <div class="features__list-inner green-light-bg-4 pt-110 pb-135 pl-100 pr-100 p-relative z-index-1">
        <img class="features__shape-8" src="/assets/img/features/7/features-shape-2.png" alt="">
        <div class="row">
           <div class="col-xxl-12">
              <div class="section__title-wrapper-7 mb-85">
                 <span class="section__title-pre-7">Product Features</span>
                 <h3 class="section__title-7">Growing is hard.
                    <span class="section__title-7-highlight">
                       Let us help!
                       <svg width="240" height="22" viewBox="0 0 240 22" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.440833 21.1152C78.9497 6.16225 158.05 4.53412 235.949 13.8239C237.497 14.0088 239.796 12.4065 239.988 9.93474C240.181 7.4176 238.026 5.44088 236.474 5.2332C157.99 -5.31675 79.1936 0.359501 0.316568 19.7785C-0.184784 19.9023 -0.0511379 21.2092 0.440833 21.1152Z" fill="currentColor"/>
                       </svg>
                    </span>
                 </h3>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-xxl-5 col-xl-5 col-lg-6">
              <div class="features__list-wrapper tp-tab">
                 <ul class="nav nav-tabs" id="featuresTab" role="tablist">
                    <li *ngFor="let f of feature_nav_items" class="nav-item" role="presentation">
                      <div class="features__list-item white-bg transition-3 nav-link" [class.active]="f.active" [attr.id]="f.id+'-tab'" data-bs-toggle="tab" [attr.data-bs-target]="'#'+f.id" role="tab" [attr.aria-controls]="f.id" [attr.aria-selected]="f.active ? 'true' : 'false'">
                       <div class="features__list-item-wrapper d-sm-flex align-items-center justify-content-between white-bg transition-3">
                          <div class="features__list-item-inner  d-sm-flex align-items-center">
                             <div class="features__list-icon mr-20">
                               <span [innerHTML]="getSafeHtml(f.icon)"></span>
                             </div>
                             <div class="features__list-content">
                                <h3 class="features__list-title">{{f.title}} </h3>
                                <p>Test if users can find what look..!</p>
                             </div>
                          </div>
                          <div class="features__list-btn">
                             <a routerLink="/pages/service-details" class="tp-link-btn-4">
                                <span>
                                   <i class="fa-regular fa-angle-right"></i>
                                </span>
                             </a>
                          </div>
                       </div>
                      </div>
                    </li>
                  </ul>
              </div>
           </div>
           <div class="col-xxl-7 col-xl-7 col-lg-6">
                 <div class="tab-content" id="myTabContent">
                    <div *ngFor="let tab_content of feature_tab_items" class="tab-pane fade"
                    [ngClass]="tab_content.active ? 'show active' : ''" [attr.id]="tab_content.id" role="tabpanel" [attr.aria-labelledby]="tab_content.id+'-tab'">
                       <div class="features__list-thumb-wrapper">
                          <img class="features__list-thumb-1" src="/assets/img/features/7/features-img-1.png" alt="">
                          <img class="features__list-thumb-2" src="/assets/img/features/7/features-img-2.png" alt="">
                          <img class="features__list-thumb-3" src="/assets/img/features/7/features-img-3.png" alt="">

                          <img class="features__shape-7" src="/assets/img/features/7/features-shape-1.png" alt="">
                       </div>
                    </div>
                 </div>
           </div>
        </div>
     </div>
  </div>
</section>
