.mean-container .mean-nav {
	background: none;
	margin-top: 0;
}
.mean-container .mean-nav > ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	display: block !important;
}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}
