<div>
  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->
  <main>

    <!-- about top area start -->
    <section class="about__heading about__heading-overlay about__spacing include-bg jarallax"
      style="background-image: url(assets/img/practice/Chemicals.avif);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-6">
            <div class="about__heading-content text-center p-relative z-index-1">
              <span class="about__heading-subtitle">Injured at Work? We Can Help.</span>
              <h1 class="about__heading-title">Call Today For Your Free Consultation</h1>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 overlayHide">
            <app-contact-form></app-contact-form>
          </div>
        </div>
      </div>
    </section>
    <!-- about top area end -->

    <!-- about text area start -->
    <section id="main-content" class="about__text pt-115 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="about__text">
              <h2>Workers’ compensation law can be complicated.</h2>
              <p>Unfortunately, insurance companies
                and employers often try to minimize or avoid their liability.  In these situations, it is
                important to talk with an experienced workers’ compensation attorney to ensure that you
                are receiving all the benefits that you are entitled to.</p>
                <p>If you are hurt at work, you may be entitled to:</p>
              <ul style="list-style-type: square;">
                <li><strong>Medical Treatment</strong></li>
                <li><strong>Lost Wages</strong></li>
                <li><strong>Mileage Reimbursement for travel to doctors’ appointments</strong></li>
                <li><strong>Compensation for Permanent Impairment</strong></li>
                <li>Other Valuable Benefits, including <strong>attendant care, vocational rehabilitation,
                  prosthetics, and housing modifications</strong>depending on the severity of your injury.</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <img class="wcimg" src="../../../assets/img/landing/wc.jpg" alt="workers compensation forms">
          </div>
          <hr />
          <div class="col-xl-12 col-lg-12">
            <div class="about__text">
              <p>Handling workers’ compensation injury claims is a core practice area for our firm, and
                one which we have been handling successfully for nearly 40 years. We also help the
                loved ones of workers who lost their lives due to tragic work accidents.</p>
              <p>If you need help knowing whether you have a workers’ compensation claim, how to file
                it, what benefits you or your loved one are entitled to, or what to do next, our firm would
                be happy to help you.</p>
              <p>Please contact us to schedule a free consultation with our Board-Certified Workers’
                Compensation Specialist. We will work with you to make sure that you are receiving all
                the benefits you deserve and develop a plan to maximize your potential recovery.</p>
             
            </div>
            <div class="col-xl-12 col-lg-12">
              <img class="wcimgcert" src="../../../assets/img/landing/bcslogo-workerscomplaw.jpg" alt="workers compensation forms">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about text area end -->
    <!-- faq area start -->

  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
