<div>
  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->
  <main>

    <!-- about top area start -->
    <section class="about__heading about__heading-overlay about__spacing include-bg jarallax"
      style="background-image: url(assets/img/practice/Chemicals.avif);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-6">
            <div class="about__heading-content text-center p-relative z-index-1">
              <span class="about__heading-subtitle">Hurt on the job?</span>
              <h1 class="about__heading-title">Call Today For Your Free Consultation</h1>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 overlayHide">
            <app-contact-form></app-contact-form>
          </div>
        </div>
      </div>
    </section>
    <!-- about top area end -->

    <!-- about text area start -->
    <section id="main-content" class="about__text pt-115 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="about__text">
              <h2>When an injury on the job occurs, <span style="font-weight: bold;">you</span> may be entitled to <span style="font-weight: bold;">variety of benefits including:</span></h2>
              <ul style="list-style-type: square;">
                <li><strong>Two thirds</strong> of your lost wages for time missed from work</li>
                <li><strong>Medical compensation</strong>, which includes medical, surgical, hospital, nursing, and rehabilitative services</li>
                <li><strong>Mileage</strong> to and from doctors’ appointments</li>
                <li>Other valuable benefits, such as <strong>attendant care, vocational rehabilitation, prosthetics, housing modifications, and others depending on the severity of the injury.</strong><br><br></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <img class="wcimg" src="../../../assets/img/landing/wc.jpg" alt="workers compensation forms">
          </div>
          <hr />
          <div class="col-xl-12 col-lg-12">
            <div class="about__text">
              <h3>Experience You Can Trust</h3>
              <p>Mona Lisa Wallace has been practicing law for over forty two years. Along the way she has been recognized by numerous legal organizations:</p>
              <p>-Public Justice American Trial Lawyer of the Year Award 2018</p>
              <p>-2020 Tommy Malone American Eagle Award</p>
              <p>-Lawyer’s Weekly – NC Hall of Fame Member&nbsp;</p>
              <p>-The National Trial Lawyers, Top 100 North Carolina Trial Lawyers</p>
              <p><span style="font-size: 18px; letter-spacing: 0.2px;">-Lawyers</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Weekly –</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Leaders</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">in</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Law</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Award</span></p>
              <p><span style="font-size: 18px; letter-spacing: 0.2px;">-North</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Carolina</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Academy</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">of</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Trial</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Lawyers </span><span style="font-size: 18px; letter-spacing: 0.2px;">Ebbie</span><span style="font-size: 18px; letter-spacing: 0.2px;">&nbsp;</span><span style="font-size: 18px; letter-spacing: 0.2px;">Award</span></p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about text area end -->
    <!-- faq area start -->

  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
