$xxxxl: 'only screen and (min-width: 1700px) and (max-width: 1899px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1699px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xsx: 'only screen and (min-width: 270px) and (max-width: 575px)';
$xs3: 'only screen and (min-width: 398px) and (max-width: 575px)';
$xs2: '(max-width: 366px)';
$xs:'(max-width: 575px)';
@mixin transition($time) {
    -webkit-transition: all $time ease-out 0s;
    -moz-transition: all $time ease-out 0s;
    -ms-transition: all $time ease-out 0s;
    -o-transition: all $time ease-out 0s;
    transition: all $time ease-out 0s;
}
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    transform: $transforms;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;       
    -ms-box-shadow: $shadow;       
    -o-box-shadow: $shadow;       
    box-shadow: $shadow;
}
%tp-transition{
    @include transition(.3s);
}
@mixin tp-gradient($value) {
    background-image: -webkit-linear-gradient($value);
    background-image: -moz-linear-gradient($value);
    background-image: -ms-linear-gradient($value);
    background-image: -o-linear-gradient($value);
    background-image:   linear-gradient($value);
}
@mixin background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.breadcrumb{
    $self : &;
    &__title{
        font-size: 70px;
        line-height: 1;
        letter-spacing: -0.04em;
        color: var(--tp-common-white);
        margin-bottom: 10px;

        @media #{$md}{
            font-size: 60px;
        }

        @media #{$sm}{
            font-size: 55px;
        }

        @media #{$xs}{
            font-size: 40px;
        }

        &-pre{
            display: inline-block;
            font-family: var(--tp-ff-space);
            font-weight: 700;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--tp-common-white);
            margin-bottom: 27px;
        }

        &-2{
            font-size: 70px;

            @media #{$md}{
                font-size: 50px;
            }
    
            @media #{$sm}{
                font-size: 40px;
            }
    
            @media #{$xs}{
                font-size: 30px;
            }
        }
    }
    &__content{
        & p{
            font-size: 20px;
            line-height: 1.3;
            color: #343438;
        }
        &-2{
            & p{
                font-size: 18px;
                line-height: 1.56;
                color: #F0F0F5;
            }
        }
    }
    &__overlay{
        position: relative;

        &::after{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #03041C, $alpha: .56);
        }
    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--tp-common-black-9);
        opacity: .4;

        &-3{
            @include tp-gradient((173.39deg, #bababa -16.2%, #5a5a5b 101.3%));
        }
       
    }
    &__spacing{
        padding-top: 220px;
        padding-bottom: 180px;

        @media #{$sm}{
            padding-top: 170px;
            padding-bottom: 140px;
        }

        @media #{$xs}{
            padding-top: 150px;
            padding-bottom: 120px;
        }

        &-2{
            padding-top: 200px;
            padding-bottom: 235px;
        }
    }
    border-bottom: 1px solid var(--tp-border-5);
    &__style-7{
        #{$self}{
            &__list{
                margin-bottom: 20px;
                & span{
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--tp-common-white);
                    
                    &.dvdr{
                        font-size: 6px;
                        color: var(--tp-common-white);                        
                    }
                    &:nth-last-child(2){
                        &.dvdr{
                            color: #FFFFFFCC;
                        }
                    }
                    &:last-child{
                        color: #FFFFFFCC;
                    }
                }
            }
            &__title{
                color: #FFFFFF;

                @media #{$md}{
                    font-size: 64px;
                }

                @media #{$sm}{
                    font-size: 50px;
                }

                @media #{$xs}{
                    font-size: 40px;
                }
            }
        }
    }
}
.about {
    $self: &;
    &__text-wrapper {
      & img {
        width: -webkit-fill-available;
        margin-bottom: 1rem;
      }
    }
    &__heading{
        &-subtitle{
            font-family: var(--tp-ff-space);
            font-weight: 500;
            font-size: 18px;
            line-height: 1.11;
            color: var(--tp-common-white);
            display: inline-block;
            margin-bottom: 7px;
        }
        &-title{
            font-size: 70px;
            line-height: 1;
            letter-spacing: -0.04em;
            color: var(--tp-common-white);
        }
        &-overlay{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #03041C, $alpha: .56);
            }
        }
    }
    &__text{
        &-title{
            font-size: 30px;
            line-height: 1;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            margin-bottom: 25px;
        }
        & p{
            font-size: 16px;
            line-height: 1.62;
            margin-bottom: 15px;
        }
    }
    &__spacing{
        padding-top: 225px;
        padding-bottom: 180px;
    }
}
.faq{
    &__title{
        font-size: 50px;
        line-height: 1;
        letter-spacing: -0.04em;
        color: var(--tp-common-black);
        margin-bottom: 40px;

        @media #{$lg, $md}{
            font-size: 44px;
        }

        @media #{$sm}{
            font-size: 40px;
        }

        &-pre{
            display: inline-block;
            font-family: var(--tp-ff-space);
            font-weight: 500;
            font-size: 18px;
            line-height: 1.1;
            letter-spacing: -0.02em;
            color: var(--tp-common-black-solid);
            margin-bottom: 12px;
        }

        &-2{
            padding-top: 22px;
            font-size: 30px;
            line-height: 1.13;
            letter-spacing: -0.04em;
            margin-bottom: 30px;

            @media #{$sm, $xs}{
                & br{
                    display: none;
                }
            }
        }
    }
    &__video{
        position: absolute;
        top: 60px;
        left: 0;
        width: 46%;
        height: calc(100% - 120px);
        @include background();
        z-index: 1;
        @media #{$md, $sm, $xs}{
            position: relative;
            width: 100%;
            height: 560px;
            top: 0;
        }
    }
    &__style-2{
        padding-top: 95px; 
        padding-bottom: 100px;
        border-left: 2px solid var(--tp-common-black);
        & .accordion-item{
            border-bottom: 1px solid #E7E7E7;
            padding-top: 25px;
            padding-bottom: 25px;

            &:first-child{
                border-top: 1px solid #E7E7E7;
            }

            &:first-of-type{
                border-radius: 0;
            }
        }
        & .accordion-button{
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            padding-top: 0;
            padding-bottom: 0;

            &::after{
                display: none;
            }

            & .accordion-btn{
                position: absolute;
                top: 50%;
                right: 0;
                transform:translateY(-50%);
                display: inline-block;
                width: 14px;
                height: 14px;
                right: 5%;
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 50%;
                    transform:translateY(-50%);
                    background-color: var(--tp-common-black);
                    border-radius: 2px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    background-color: var(--tp-common-black);
                    transform:translateX(-50%);
                    border-radius: 2px;
                }
            }

            &:not(.collapsed){
                color: var(--tp-theme-4-dark);

                & .accordion-btn{
                    &::before{
                        transform:translateX(-50%) rotate(90deg);
                        background-color: var(--tp-theme-4);
                    }
                    &::after{
                        background-color: var(--tp-theme-4);
                    }
                }
            }
        }

        & .accordion-body{
            padding-top: 24px;
            padding-bottom: 0;
            & p{
                font-size: 15px;
                line-height: 1.6;
                color: var(--tp-text-1);
                margin-bottom: 2px;
                padding-right: 50px;

            }
        }
    }  
}   
.overlayHide {
    z-index: 5;
}
.wcimg{
    max-height: 350px;
}
.wcimgcert{
    max-width: 100%;
}