<section class="slider__area slider-mt-50 p-relative z-index-1" data-bg-color="grey-7">
  <div class="slider__shape">
   <img *ngIf="!isMobile" class="slider__shape-4-1" src="../../../../../assets/img/slider/sliderbg.avif" alt="shape1">
</div>
  <div class="container">
     <div class="row align-items-center">
        <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-6">
           <div class="slider__content-4">
              <span class="slider__title-pre-4">Since 1981</span>
              <h1 class="slider__title-4">Our Clients are Our Priority</h1>
              <p>Our firm is proud to represent clients in claims both large and small.</p>

              <div class="slider__btn-4">
                 <a routerLink="/contact" class="tp-btn-brown">Get In Touch</a>
              </div>
           </div>
        </div>
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6">
           <div class="slider__thumb-4 m-img " >
              <img *ngIf="!isMobile" ngxOptimizedImage="imageUrl"
                   src="../../../../../assets/img/slider/partners.avif"
                   width="476"
                   height="691"
                   alt="Wallace & Graham Partners"
                   priority="high"
                   loading="eager">
           </div>
        </div>
     </div>
  </div>
</section>
