<section class="slider__area slider-mt-50 p-relative z-index-1" data-bg-color="grey-7">
  <div class="slider__shape">
     <img class="slider__shape-4-1" src="https://imagedelivery.net/DF926RUMiBgxrQOCj6Rcgg/937e79b5-c460-46fa-d7c2-f8e7b03cfe00/wgbg" alt="shape1">
  </div>
  <div class="container">
     <div class="row align-items-center">
        <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-6">
           <div class="slider__content-4">
              <span class="slider__title-pre-4">Since 1981</span>
              <h1 class="slider__title-4">Our Clients are Our Priority</h1>
              <p>Our firm is proud to represent clients in claims both large and small.</p>

              <div class="slider__btn-4">
                 <a routerLink="/contact" class="tp-btn-brown">Get In Touch</a>
              </div>
           </div>
        </div>
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-6">
           <div class="slider__thumb-4 m-img " >
              <img width="476" height="693" src="https://imagedelivery.net/DF926RUMiBgxrQOCj6Rcgg/0adfdcba-cc47-4180-538c-e2e5562ae900/WG" alt="Wallace & Graham Partners">
           </div>
        </div>
     </div>
  </div>
</section>
