<section class="features__area pb-100">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xxl-9 col-xl-10 col-lg-10">
           <div class="features__section-title-wrapper text-center mb-40">
              <h3 class="features__section-title">A Canada that is healthier and safer, greener and more competitive.</h3>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xxl-12">
           <div class="features__more-10 text-center">
              <a routerLink="/pages/contact" class="tp-btn-7 tp-btn-7-sm">Join Our Movement</a>
           </div>
        </div>
     </div>
     <div class="features__wrapper-10">
        <div class="row">
           <div *ngFor="let item of service_items; let i = index" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
              <div class="features__item-10 transition-3 mb-30" data-sal="slide-up" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
                 <div class="features__icon-10">
                    <span>
                       <img [src]="item.icon" alt="icon">
                    </span>
                 </div>
                 <div class="features__content-10">
                    <span>{{item.sm_title}}</span>
                    <h3 class="features__title-10">{{item.title}}</h3>
                    <p>{{item.desc}}</p>

                    <div class="features__btn-10">
                       <a routerLink="/pages/service-details" class="tp-btn-border-9">Learn More <i class="fa-regular fa-angle-right"></i></a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
