<div>
  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- attorney details area start -->
    <section class="attorney__details-area pt-100 p-relative z-index-1">
      <div class="container">
        <div class="attorney__details-border">
          <div class="row">
            <div class="col-xl-5 col-md-6">
              <div class="attorney__details-thumb" data-sal="slide-up" data-sal-delay="130" data-sal-duration="1000">
                <img class="attorney_img" [src]="attorney?.img" alt="{{attorney?.name}}">
              </div>
            </div>
            <div class="col-xl-7 col-md-6">
              <div class="attorney__details-content pt-40 pl-15 pr-50" data-sal="slide-up" data-sal-delay="150"
                data-sal-duration="1000">
                <span class="attorney__details-subtitle">{{attorney?.title}}</span>
                <h1 class="attorney__details-title">{{attorney?.name}}</h1>
                <div class="attorney__details-contact mb-10">
                  <div class="attorney__details-contact-item d-flex align-items-center">
                    <div class="attorney__details-contact-content">
                      <p><a href="mailto:{{attorney?.mail}}">{{attorney?.mail}}</a></p>
                    </div>
                  </div>
                </div>
                <p class="ml-20" [innerHTML]="attorney?.practice"></p>
                  <a href="#"><i class="fa fa-phone"></i>&nbsp;{{attorney?.phone}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- attorney details area end -->

    <!-- attorney details about area start -->
    <div class="attorney__details-about">
      <div class="container">
        <div class="attorney__details-about-border pt-90 pb-65">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="attorney__details-about-content" data-sal="slide-up" data-sal-delay="130" data-sal-duration="1000">
                <h3 class="attorney__details-about-title">About {{attorney?.name}}</h3>
                <div [innerHTML]="attorney?.bio"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- attorney details about area end -->

  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
