<div>

  <!-- header area start -->
  <app-header-one></app-header-one>
  <!-- header area end -->

  <main>
    <!-- hero banner area start -->
    <app-hero-banner-one></app-hero-banner-one>
    <!-- hero banner area end -->

     <!-- about area start -->
     <app-about-area-one></app-about-area-one>
     <!-- about area end -->

     <!-- counter area start -->
     <app-counter-area-one></app-counter-area-one>
     <!-- counter area end -->

     <!-- service area start -->
     <app-service-area-one></app-service-area-one>
     <!-- service area end -->

     <!-- event area start -->
     <app-event-area-one></app-event-area-one>
     <!-- event area end -->

     <!-- team area start -->
     <app-team-area-one></app-team-area-one>
     <!-- team area end -->

     <!-- faq area start -->
    <app-faq-area-one></app-faq-area-one>
     <!-- faq area end -->

     <!-- portfolio area start -->
     <app-portfolio-area-one></app-portfolio-area-one>
     <!-- portfolio area end -->

     <!-- testimonial area start -->
     <app-testimonial-one></app-testimonial-one>
     <!-- testimonial area end -->

     <!-- blog area start -->
     <app-blog-area-one></app-blog-area-one>
     <!-- blog area end -->
  </main>

  <!-- footer area start -->
  <app-footer-one></app-footer-one>
  <!-- footer area end -->
</div>
