<div>

  <!-- header start -->
  <app-header-three></app-header-three>
  <!-- header end -->

  <main>

    <!-- hero banner area start -->
    <app-hero-banner-three></app-hero-banner-three>
    <!-- hero banner area end -->

    <!-- brand slider start -->
    <app-brand-slider-one></app-brand-slider-one>
    <!-- brand slider end -->

    <!-- about area start -->
    <app-about-area-two></app-about-area-two>
    <!-- about area end -->

    <!-- portfolio area start -->
    <app-portfolio-freelancer></app-portfolio-freelancer>
    <!-- portfolio area end -->

    <!-- skill area start -->
    <app-freelancer-skills></app-freelancer-skills>
    <!-- skill area end -->

    <!-- award area start -->
    <app-freelancer-award></app-freelancer-award>
    <!-- award area end -->

    <!-- testimonial area start -->
    <app-testimonial-three></app-testimonial-three>
    <!-- testimonial area end -->

    <!-- blog area start -->
    <app-blog-area-three></app-blog-area-three>
    <!-- blog area end -->

    <!-- cta area start -->
    <app-cta-area-one></app-cta-area-one>
    <!-- cta area end -->

  </main>

  <!-- footer area start -->
  <app-footer-three></app-footer-three>
  <!-- footer area end -->
</div>
