<div>
  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__white-solid" bottom_cls=" " [header_solid]="true" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- forgot password area start -->
    <section class="login__area pt-110 pb-110">
      <div class="container">
         <div class="login__inner p-relative z-index-1">
            <div class="login__shape">
               <img class="login__shape-1" src="/assets/img/login/laptop.png" alt="" >
               <img class="login__shape-2" src="/assets/img/login/man.png" alt="" >
               <img class="login__shape-3" src="/assets/img/login/shape-1.png" alt="" >
               <img class="login__shape-4" src="/assets/img/login/shape-2.png" alt="" >
               <img class="login__shape-5" src="/assets/img/login/shape-3.png" alt="" >
               <img class="login__shape-6" src="/assets/img/login/shape-4.png" alt="" >
            </div>
            <div class="row justify-content-center">
               <div class="col-xl-6 col-lg-8 col-md-10">
                  <div class="login__wrapper">
                     <div class="login__top mb-30 text-center">
                        <h3 class="login__title">Forgot Password?</h3>
                        <p>Enter your email address to request password reset.</p>
                     </div>
                     <div class="login__form">
                        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                           <div class="login__input-wrapper">
                              <div class="login__input-item">
                                 <div class="login__input">
                                    <input type="email" placeholder="Email" formControlName="email" name="email">
                                    <span>
                                       <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M13 14.6H5C2.6 14.6 1 13.4 1 10.6V5C1 2.2 2.6 1 5 1H13C15.4 1 17 2.2 17 5V10.6C17 13.4 15.4 14.6 13 14.6Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                          <path d="M13 5.40002L10.496 7.40002C9.672 8.05602 8.32 8.05602 7.496 7.40002L5 5.40002" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                       </svg>
                                    </span>
                                 </div>
                                </div>
                                <!-- error msg start -->
                                <span *ngIf="(email?.hasError('required') && email?.touched) || (email?.hasError('email') && email?.dirty) || (formSubmitted && !email?.value)" class="text-danger">Email is required and must be a valid email address </span>
                                <!-- error msg end -->
                           </div>
                           <div class="login__btn">
                              <button type="submit" class="tp-btn w-100">Send Request</button>
                           </div>
                        </form>
                        <div class="login__register-now">
                           <p>Remember your password? <a routerLink="/pages/login">Login</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
    <!-- forgot password area end -->
  </main>

  <!-- footer area start -->
  <app-footer-six [style_2]="true"></app-footer-six>
  <!-- footer area end -->
</div>
