<section class="portfolio_area pt-110 black-bg-13">
  <div class="container">
     <div class="row align-items-end">
        <div class="col-xl-6 col-lg-8 col-md-7">
           <div class="section__title-wrapper-8 mb-60">
              <span class="section__title-pre-8">Our projects</span>
              <h3 class="section__title-8">latest
                 <span class="section__title-highlight-8">projects
                    <svg width="206" height="24" viewBox="0 0 206 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path class="wow" d="M3 20.7505C47.375 13.8755 135.812 -15.4995 203 20.7505" stroke="#FF5A1B" stroke-width="6" stroke-linecap="round"/>
                    </svg>
                 </span>
              </h3>
           </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-5">
           <div class="portfolio__more-8 text-md-end mb-70">
              <a routerLink="/portfolio/gallery" class="tp-btn-border-7">View all Projects <i class="fa-regular fa-chevron-right"></i></a>
           </div>
        </div>
     </div>
  </div>
  <div class="container-fluid gx-0">
     <div class="row gx-0">
        <div class="col-xxl-12">
           <div class="portfolio__slider-8 p-relative fix">
              <div id="portfolio-bg-img" [class]="activeBg">
                 <div *ngFor="let item of portfolio_images;" [class]="'portfolio-bg portfolio-img-'+item.id" [style.background-image]="'url(' + item.img + ')'"></div>
              </div>
              <div class="portfolio__slider-active-8 swiper-container">
                 <div class="swiper-wrapper">
                    <div *ngFor="let p of portfolio_slider_data;let i = index" class="portfolio__item-8 swiper-slide" [class.active]="activeBg === 'portfolio-img-'+p.id" [attr.rel]="'portfolio-img-'+p.id" (mouseenter)="handleActiveBg('portfolio-img-'+p.id)">
                       <div class="portfolio__content-8">
                          <div class="portfolio__meta-8">
                             <span>{{p.year}}</span>
                             <span>{{p.meta}}</span>
                          </div>
                          <h3 class="portfolio__title-8">
                             <a routerLink="/portfolio/details">{{p.title}}</a>
                          </h3>
                       </div>
                    </div>
                 </div>
                 <div class="portfolio__nav-8">
                    <button type="button" class="portfolio-button-prev-8"><i class="fa-regular fa-chevron-left"></i></button>
                    <button type="button" class="portfolio-button-next-8"><i class="fa-regular fa-chevron-right"></i></button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
