<div>
  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>
    <!-- section title end -->
    <section class="breadcrumb__area breadcrumb__style-7 breadcrumb__bg-3 p-relative z-index-1 include-bg pt-75 pb-55">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9">
               <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1 text-center">
                  <h1 class="breadcrumb__title">How We Can Help You</h1>
                  <p>Our firm practices a wide array of injury, disease, death, consumer, and environmental tort claims.
                     We investigate the wrongful conduct of companies and the insurance industry. We aim to help our
                     clients in any way possible. Please call to see if we can help.</p>
               </div>
            </div>
         </div>
      </div>
   </section>

    <!-- job area start -->
    <section id="main-content" class="job__area pb-40 pt-100">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="job__item-wrapper">
                  <div *ngFor="let item of practice_data;let i = index" class="job__item transition-3" data-sal="slide-up" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
                     <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-7 col-md-9">
                           <div class="job__content">
                              <h3 class="job__title">
                                <a [routerLink]="'/practice/' + item.slug" [innerHTML]="item.name">{{item.name}}</a>
                              </h3>
                              <div class="job__meta-wrapper d-sm-flex flex-wrap align-items-center">
                                 <div class="job__tag">
                                    <span [innerHTML]="item.announcement"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                           <div class="job__vacancies">
                              <img [src]="item.img" height="75">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- job area end -->

  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
