@mixin tp-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
.contact{
    &__input{
        margin-bottom: 1rem;
        &-2{
            margin-bottom: 20px;
            & input,
            & select,
            & textarea{
                width: 100%;
                height: 60px;
                border: 1px solid var(--tp-grey-15);
                outline: 0;
                background-color: var(--tp-common-white);
                color: var(--tp-common-black);
                padding: 0 25px;

                
                @include tp-placeholder{
                    color: #85858B;
                }

                &:focus{
                    border-color: var(--tp-theme-1);
                    background-color: var(--tp-common-white);
                }
            }
            & textarea{
                height: 160px;
                padding: 23px 25px;
                resize: none;                
            }
        }
    }
}