<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="row">
     <div class="col-md-12">
        <div class="contact__input-2">
           <input class="wcinput" name="name" type="text" placeholder="Enter your name" formControlName="name">
           <span *ngIf="name?.hasError('required') && (name?.touched || formSubmitted)" class="text-danger">
             Name is required
           </span>
        </div>
     </div>
     <div class="col-md-12">
        <div class="contact__input-2">
           <input class="wcinput" name="email" type="email" placeholder="Enter your email" formControlName="email">
           <span *ngIf="(email?.hasError('required') && email?.touched) || (email?.hasError('email') && email?.dirty) || (formSubmitted && !email?.value)" class="text-danger">
             Email is required and must be a valid email address
           </span>
        </div>
     </div>
     <div class="col-md-12">
        <div class="contact__input-2">
           <input class="wcinput" name="phone" type="text" placeholder="Phone Number" formControlName="phone">
           <span *ngIf="phone?.hasError('required') && (phone?.touched || formSubmitted)" class="text-danger"> Phone is required </span>
        </div>
     </div>
     <div class="col-md-12">
        <div class="contact__input-2">
           <textarea class="wcinput" name="message" placeholder="Your message" formControlName="message"></textarea>
           <span *ngIf="message?.hasError('required') && (message?.touched || formSubmitted)" class="text-danger"> Message is required </span>
        </div>
     </div>
     <div class="col-md-12">
        <div class="contact__btn-2">
           <button type="submit" class="tp-btn">Send Message</button>
        </div>
     </div>
  </div>
</form>
