<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="row">
     <div class="col-md-6">
        <div class="contact__input">
           <input name="name" type="text" placeholder="First Name" formControlName="firstName">
           <span *ngIf="firstName?.hasError('required') && (firstName?.touched || formSubmitted)" class="text-danger">
             First Name is required
          </span>
        </div>
     </div>
     <div class="col-md-6">
        <div class="contact__input">
           <input name="l_name" type="text" placeholder="Last Name" formControlName="lastName">
           <span *ngIf="lastName?.hasError('required') && (lastName?.touched || formSubmitted)" class="text-danger"> Last Name is required </span>
        </div>
     </div>
     <div class="col-md-6">
        <div class="contact__input">
           <input name="email" type="email" placeholder="Email" formControlName="email">
           <span *ngIf="(email?.hasError('required') && email?.touched) || (email?.hasError('email') && email?.dirty) || (formSubmitted && !email?.value)" class="text-danger">
            Email is required and must be a valid email address
          </span>
        </div>
     </div>
     <div class="col-md-6">
        <div class="contact__input">
           <input name="phone" type="text" placeholder="Phone" formControlName="phone">
           <span *ngIf="phone?.hasError('required') && (phone?.touched || formSubmitted)" class="text-danger"> Phone is required </span>
        </div>
     </div>
     <div class="col-md-12">
        <div class="contact__input">
           <textarea name="message" placeholder="Case Details" formControlName="message"></textarea>
           <span *ngIf="message?.hasError('required') && (message?.touched || formSubmitted)" class="text-danger"> Message is required </span>
        </div>
     </div>
     <div class="col-md-12">
        <div class="contact__btn">
           <button type="submit" class="tp-btn-brown">Send Message</button>
        </div>
     </div>
  </div>
</form>
