<div>
  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__white-solid" bottom_cls=" " [header_solid]="true" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- pricing area start -->
    <app-pricing-startup spacing="pt-110 pb-120" [style_2]="true"></app-pricing-startup>
    <!-- pricing area end -->

    <!-- testimonial area start -->
    <app-testimonial-thirteen></app-testimonial-thirteen>
    <!-- testimonial area end -->

    <!-- faq area start -->
    <app-common-faq spacing="pt-120 pb-115"></app-common-faq>
    <!-- faq area end -->

  </main>

  <!-- footer area start -->
  <app-footer-six [style_2]="true"></app-footer-six>
  <!-- footer area end -->
</div>
