<section class="services__area p-relative z-index-1 pt-110 pb-90">
  <div class="services__shape">
     <img class="services__shape-10" src="/assets/img/services/7/services-shape-1.png" alt="">
  </div>
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10">
           <div class="section__title-wrapper-7 mb-60 text-center">
              <span class="section__title-pre-7">Join 0ur Community</span>
              <h3 class="section__title-7">Amazing
                 <span class="section__title-7-highlight">
                    services
                    <svg width="240" height="22" viewBox="0 0 240 22" fill="none">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M0.440833 21.1152C78.9497 6.16225 158.05 4.53412 235.949 13.8239C237.497 14.0088 239.796 12.4065 239.988 9.93474C240.181 7.4176 238.026 5.44088 236.474 5.2332C157.99 -5.31675 79.1936 0.359501 0.316568 19.7785C-0.184784 19.9023 -0.0511379 21.2092 0.440833 21.1152Z" fill="currentColor"/>
                    </svg>
                 </span>
                 to build busines growth
              </h3>
           </div>
        </div>
     </div>
     <div class="services__item-wrapper-7">
        <div class="row">
           <div *ngFor="let s of service_data; let i = index" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
              <div class="services__item-7 text-center mb-60" data-sal="slide-up" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
                 <div class="services__icon-7">
                  <span [innerHTML]="getSafeHtml(s.icon)"></span>
                 </div>
                 <div class="services__content-7">
                    <h3 class="services__title-7">
                       <a routerLink="/pages/service-details">{{s.title}}</a>
                    </h3>
                    <p>{{s.subtitle}}</p>

                    <div class="services__btn-7">
                       <a routerLink="/pages/service-details" class="tp-link-btn-3">
                          Learn More
                          <span>
                             <i class="fa-regular fa-arrow-right"></i>
                          </span>
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
