<section class="slider__area p-relative">
  <div class="slider__active swiper-container">
     <div class="swiper-wrapper">
        <div *ngFor="let slider of slider_data" class="slider__item slider__height slider__overlay include-bg pt-100 pb-100 swiper-slide d-flex align-items-center">
           <div class="slider__bg p-relative include-bg" [style.background-image]="'url(' + slider.bg + ')'"></div>
           <div class="container">
              <div class="row justify-content-center">
                 <div class="col-xxl-12">
                    <div class="slider__content text-center">
                       <span class="slider__title-pre">Hello! Consulting</span>
                       <h3 class="slider__title">Workshops Business Consulting</h3>

                       <div class="slider__form">
                          <form action="#">
                             <div class="slider__form-wrapper flex-wrap">
                                <div class="slider__form-input">
                                   <input type="text" placeholder="Your Name">
                                </div>
                                <div class="slider__form-input">
                                   <input type="text" placeholder="Your Email">
                                </div>
                                <div class="slider__form-input has-select">
                                   <app-nice-select
                                      [options]="event_select"
                                      name="Select Event"
                                      [defaultCurrent]="0"
                                      (onChange)="changeSelectHandler($event)"
                                      placeholder="Select Event"
                                 ></app-nice-select>
                                </div>
                                <div class="slider__form-input">
                                   <button type="button" class="slider-form-btn tp-link-btn-3">Join the event <i class="fa-regular fa-arrow-right"></i></button>
                                </div>
                             </div>
                          </form>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="main-slider-dot d-none d-lg-flex"></div>
  </div>
  <div class="mouse-scroll">
     <a href="/home/home-main#tpabout" class="mouse-scroll-btn"></a>
  </div>
</section>
