<div>

  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- contact area start -->
    <section class="breadcrumb__area breadcrumb__style-7 breadcrumb__bg-3 p-relative z-index-1 include-bg pt-75 pb-55">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9">
               <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1 text-center">
                  <h1 class="breadcrumb__title">Contact Us</h1>

               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- contact area end -->


   <!-- contact form area start -->
   <section id="main-content" class="contact__form-area pt-20 pb-40">
    <div class="container">
       <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6">
             <div class="contact__form-2">
                <h3 class="contact__form-2-title">Contact Details</h3>
                <div *ngFor="let l of location_data" class="contact__location-item">
                  <div class="row align-items-center">
                     <div class="col-lg-9 col-md-8 col-sm-7">
                        <div class="contact__location-content d-lg-flex align-items-center">

                           <h3 class="contact__location-title">{{l.title}}</h3>

                           <div class="contact__location-info d-sm-flex flex-wrap align-items-left">
                              <div class="contact__location-content">
                                 <p>{{l.location}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="contact__form-2">
               <h3 class="contact__form-2-title">Send a message</h3>
               <app-contact-form></app-contact-form>
               <p class="ajax-response"></p>
            </div>
         </div>
       </div>
      </div>
    </section>
   <!-- contact form area end -->


  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
