@use '../../../assets/scss/utils' as *;

/*----------------------------------------*/
/*  25. CONTACT CSS START
/*----------------------------------------*/


.contact{
    $self :&;
    &__form{
        &-2{
            padding: 73px 100px 95px;
            border: 2px solid #EAEAEF;
            background-color: var(--tp-common-white);

            @media #{$md, $sm}{
                padding: 43px 50px 55px;
            }
            @media #{$xs}{
                padding: 20px;
            }
            &-title{
                font-weight: 500;
                font-size: 30px;
                letter-spacing: -0.04em;
                margin-bottom: 30px;

                @media #{$xs}{
                    font-size: 22px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &__location{
        &-item{
            padding-top: 33px;
            padding-bottom: 33px;
            border-bottom: 1px solid #EAEAEF;
        }
        &-title{
            width: 300px;
            font-size: 20px;
            line-height: 1;
            letter-spacing: -0.02em;
            color: var(--tp-common-black-solid);
        }
        &-info{
            
            @media #{$md, $sm}{
                margin-top: 30px;
            }
            
            @media #{$xs}{
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        &-icon{
            @include rtl{
                margin-right: 0;
                margin-left: 45px;
            }
            @media #{$sm}{
                margin-right: 15px;

                @include rtl{
                    margin-right: 0;
                    margin-left: 15px;
                }
            }
            @media #{$xs}{
                margin-bottom: 20px;
            }
        }
        &-content{
            & p{
                font-family: var(--tp-ff-space);
                font-size: 15px;
                line-height: 1.47;
                letter-spacing: -0.02em;
                color: #525258;
                margin-bottom: 0;
                word-wrap: break-word;

                & a{
                    &:hover{
                        color: var(--tp-theme-1);
                    }
                }
            }
        }
        &-btn{
            @media #{$md}{
                margin-top: 15px;
            }
            @media #{$sm}{
                margin-top: 15px;
            }
            & .tp-btn-border{
                padding: 9px 31px;
                font-size: 15px;
                letter-spacing: -0.02em;
                text-transform: capitalize;

                &:hover{
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-1);
                    border-color: var(--tp-theme-1);
                }
            }
        }

        &-box{
            padding: 60px 50px;
            box-shadow: 0px 20px 40px rgba(3, 4, 28, 0.08);

            &:hover{
                #{$self}{
                    &__location{
                        &-box{
                            &-icon{
                                & img{
                                    animation-name: tpshake;
                                    animation-timing-function: ease-in-out;
                                    animation-duration: .4s;
                                    animation-iteration-count: 1;
                                }
                            }
                        }
                    }
                }
            }
            &-title{
                font-size: 22px;
                letter-spacing: -0.02em;
                color: var(--tp-common-black-solid);
                margin-bottom: 20px;
                padding-bottom: 23px;
                border-bottom: 1px solid #EAEAEF;
            }
            &-icon{
                margin-bottom: 33px;
                min-height: 56px;
                & img{
                    -webkit-transition: .2s ease-in-out;
	                    transition: .2s ease-in-out;
                }
            }
            &-info{
                margin-bottom: 30px;
                & p{
                    font-family: var(--tp-ff-space);
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: -0.02em;
                    color: var(--tp-text-1);
                    margin-bottom: 0;

                    & a{
                        &:hover{
                            color: var(--tp-theme-1);
                        }
                    }
                }
            }
            &-btn{
                & .tp-btn-border{
                    padding: 9px 36px;
                    font-size: 15px;
                    letter-spacing: -0.02em;
                    text-transform: capitalize;

                    &:hover{
                        color: var(--tp-common-white);
                        background-color: var(--tp-theme-1);
                        border-color: var(--tp-theme-1);
                    }
                }
            }
        }
    }
}