<div>

  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__white-solid header__white-solid-2 header__transparent" bottom_cls=" " [header_solid]="true" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- portfolio area start -->
    <section class="portfolio__horizontal p-relative">
      <div class="portfolio__horizontal-slider">
        <div class="portfolio__horizontal-active swiper-container">
          <div class="swiper-wrapper">

            <div class="portfolio__horizontal-item swiper-slide">
              <div class="portfolio__horizontal-thumb include-bg" style="background-image: url(/assets/img/portfolio/horizontal/portfolio-slider-1.jpg);"></div>
              <div class="portfolio__horizontal-inner">
                <div class="portfolio__horizontal-social">
                  <span>Follow Us</span>
                  <a href="#">Fb.</a>
                  <a href="#">Be.</a>
                  <a href="#">Yt.</a>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-xxl-9 col-xl-10">
                      <div class="portfolio__horizontal-wrapper d-md-flex align-items-start">
                        <div class="portfolio__horizontal-video">
                          <a (click)="utilsService.playVideo('ga3zVU00KhY')" class="popup-video pointer">
                            <svg width="14" height="18" viewBox="0 0 18 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M18 11L0 21.3923V0.607696L18 11Z" fill="currentColor" />
                            </svg>
                          </a>
                        </div>
                        <div class="portfolio__horizontal-content">
                          <div class="portfolio__horizontal-meta">
                            <span>
                              <a href="#">Branding</a>
                            </span>
                            <span>
                              <a href="#">January 14, 2022 </a>
                            </span>
                          </div>
                          <h3 class="portfolio__horizontal-title">
                            <a routerLink="/portfolio/details">Classic Custom <br> Book Cover Prints</a>
                          </h3>
                          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in
                            his bed into a horrible vermin.</p>

                          <div class="portfolio__horizontal-btn">
                            <a routerLink="/portfolio/details" class="tp-btn-border tp-link-btn">
                              Show Project
                              <span [innerHTML]="getSafeHtml(svg.right_arrow + svg.right_arrow)"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="portfolio__horizontal-item swiper-slide">
              <div class="portfolio__horizontal-thumb include-bg" style="background-image: url(/assets/img/portfolio/horizontal/portfolio-slider-2.jpg);"></div>
              <div class="portfolio__horizontal-inner">
                <div class="portfolio__horizontal-social">
                  <span>Follow Us</span>
                  <a href="#">Fb.</a>
                  <a href="#">Be.</a>
                  <a href="#">Yt.</a>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-xxl-9 col-xl-10">
                      <div class="portfolio__horizontal-wrapper d-md-flex align-items-start">
                        <div class="portfolio__horizontal-video">
                          <a (click)="utilsService.playVideo('ga3zVU00KhY')" class="popup-video pointer">
                            <svg width="14" height="18" viewBox="0 0 18 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M18 11L0 21.3923V0.607696L18 11Z" fill="currentColor" />
                            </svg>
                          </a>
                        </div>
                        <div class="portfolio__horizontal-content">
                          <div class="portfolio__horizontal-meta">
                            <span>
                              <a href="#">Branding</a>
                            </span>
                            <span>
                              <a href="#">January 14, 2022 </a>
                            </span>
                          </div>
                          <h3 class="portfolio__horizontal-title">
                            <a routerLink="/portfolio/details">Our Best Cover <br> Designs & Concepts</a>
                          </h3>
                          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in
                            his bed into a horrible vermin.</p>

                          <div class="portfolio__horizontal-btn">
                            <a routerLink="/portfolio/details" class="tp-btn-border tp-link-btn">
                              Show Project
                              <span [innerHTML]="getSafeHtml(svg.right_arrow + svg.right_arrow)"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="portfolio__horizontal-item swiper-slide">
              <div class="portfolio__horizontal-thumb include-bg" style="background-image: url(/assets/img/portfolio/horizontal/portfolio-slider-3.jpg);"></div>
              <div class="portfolio__horizontal-inner">
                <div class="portfolio__horizontal-social">
                  <span>Follow Us</span>
                  <a href="#">Fb.</a>
                  <a href="#">Be.</a>
                  <a href="#">Yt.</a>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-xxl-9 col-xl-10">
                      <div class="portfolio__horizontal-wrapper d-md-flex align-items-start">
                        <div class="portfolio__horizontal-video">
                          <a (click)="utilsService.playVideo('ga3zVU00KhY')" class="popup-video pointer">
                            <svg width="14" height="18" viewBox="0 0 18 22" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M18 11L0 21.3923V0.607696L18 11Z" fill="currentColor" />
                            </svg>
                          </a>
                        </div>
                        <div class="portfolio__horizontal-content">
                          <div class="portfolio__horizontal-meta">
                            <span>
                              <a href="#">Branding</a>
                            </span>
                            <span>
                              <a href="#">January 14, 2022 </a>
                            </span>
                          </div>
                          <h3 class="portfolio__horizontal-title">
                            <a routerLink="/portfolio/details">Easily make your <br> own muckup design</a>
                          </h3>
                          <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in
                            his bed into a horrible vermin.</p>

                          <div class="portfolio__horizontal-btn">
                            <a routerLink="/portfolio/details" class="tp-btn-border tp-link-btn">
                              Show Project
                              <span [innerHTML]="getSafeHtml(svg.right_arrow + svg.right_arrow)"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="portfolio-horizontal-dot d-none d-sm-flex"></div>
      </div>
    </section>
    <!-- portfolio area end -->

    <!-- video popup -->
    <app-video-popup></app-video-popup>
    <!-- video popup -->
  </main>

</div>
