$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    transform: $transforms;
}
.testimonial{
    $self: &;
    &__content{
        position: relative;
        &-4{
            & p{
                font-size: 20px;
                line-height: 1.5 ;
                color: var(--tp-common-white);
                margin-bottom: 22px;
            }
        }
    }
    &__item{
        &-4{
            padding: 40px 60px;
            background: rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            @media #{$xs}{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &__rating{
        margin-bottom: 5px;
        color: var(--tp-common-yellow);
        & .fa-star {
            margin: 0px 2px;
        }
        &-content{
            & p{
                font-weight: 500;
                font-size: 14px;
                color: var(--tp-common-white);
                margin-bottom: 0;
                & p{
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--tp-common-white);
                    margin-bottom: 0;
                }
            }
        }

    }
    &__icon{
        margin-bottom: 24px;

        & span{
            color: var(--tp-common-white);
            font-size: 40px;
        }
    }
    &__avater{
        &-title{
            &-4{
                color: var(--tp-common-white)
            }
        }
    }

}