<section class="pricing__area p-relative z-index-1" [ngClass]="spacing">
  <div class="pricing__shape">
     <img class="pricing__shape-6" src="/assets/img/price/7/price-shape-1.png" alt="">
  </div>
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8" [class.col-md-10]="style_2">
           <div *ngIf="!style_2" class="section__title-wrapper-7 text-center mb-60">
              <span class="section__title-pre-7">Our Pricing</span>
              <h3 class="section__title-7">Simple
                 <span class="section__title-7-highlight">
                    pricing
                    <svg width="240" height="22" viewBox="0 0 240 22" fill="none">
                       <path fill-rule="evenodd" clip-rule="evenodd" d="M0.440833 21.1152C78.9497 6.16225 158.05 4.53412 235.949 13.8239C237.497 14.0088 239.796 12.4065 239.988 9.93474C240.181 7.4176 238.026 5.44088 236.474 5.2332C157.99 -5.31675 79.1936 0.359501 0.316568 19.7785C-0.184784 19.9023 -0.0511379 21.2092 0.440833 21.1152Z" fill="currentColor"/>
                    </svg>
                 </span>
                 solutions for everyone.
              </h3>
           </div>
           <div *ngIf="style_2" class="tp-section-wrapper-2 mb-65 text-center">
            <span class="tp-section-subtitle-2">PRICING PAGE</span>
            <h3 class="tp-section-title-2 font-70">
              Pricing built to suits teams of all sizes.
            </h3>
          </div>
        </div>
     </div>
     <div class="pricing__table white-bg" [class.pricing__style-2]="style_2">
        <div class="pricing__table-wrapper">
           <!-- pricng header -->
           <div class="pricing__header grey-bg-13">
              <div class="row gx-0">
                 <div class="col-xl-4 col-4">
                    <div class="pricing__header-content">
                       <h3 class="pricing__header-title">Contact Us!</h3>
                       <a routerLink="/pages/contact" class="tp-btn-11">Get Started</a>
                       <img *ngIf="!style_2" class="pricing-header-shape" src="/assets/img/price/7/price-icon-1.png" alt="">
                       <img *ngIf="style_2" class="pricing-header-shape" src="/assets/img/price/7/price-icon-2.png" alt="">
                    </div>
                 </div>
                 <div class="col-xl-8 col-8">
                    <div class="pricing__header-top-wrapper d-flex align-items-center">

                       <!-- pricing heading one -->
                       <div class="pricing__top-7 p-relative text-center">
                          <div class="pricing__tag-7">
                             <span> Silver Plan</span>
                          </div>
                          <div class="pricing__title-wrapper-7">
                             <h3 class="pricing__title-7">$94</h3>
                             <p>Free forever,! <br>  No credit card required.</p>
                          </div>
                       </div>

                       <!-- pricing heading two -->
                       <div class="pricing__top-7 p-relative text-center">
                          <div class="pricing__popular-2">
                             <span>Best Choice</span>
                          </div>
                          <div class="pricing__tag-7">
                             <span>Advanced</span>
                          </div>
                          <div class="pricing__title-wrapper-7">
                             <h3 class="pricing__title-7">$59</h3>
                             <p>Free forever,! <br>  No credit card required.</p>
                          </div>
                       </div>

                       <!-- pricing heading three -->
                       <div class="pricing__top-7 p-relative text-center">
                          <div class="pricing__tag-7">
                             <span>Enterprise</span>
                          </div>
                          <div class="pricing__title-wrapper-7">
                             <h3 class="pricing__title-7">$79</h3>
                             <p>Free forever,! <br>  No credit card required.</p>
                          </div>

                       </div>
                    </div>
                 </div>
              </div>
           </div>

           <!-- pricing features item wrapper -->
           <div class="pricing__feature-item-wrapper">
              <!-- pricing features item -->
              <div *ngFor="let item of pricing_data" class="pricing__feature-info-item">
                 <div class="row gx-0 align-items-center">
                    <div class="col-xl-4 col-4">
                       <div class="pricing__feature-info-content d-flex align-items-center">
                          <div class="pricing__feature-info-details">
                             <span>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M9 1.5C4.99594 1.5 1.75 4.74594 1.75 8.75C1.75 12.7541 4.99594 16 9 16C13.0041 16 16.25 12.7541 16.25 8.75C16.25 4.74594 13.0041 1.5 9 1.5ZM0.25 8.75C0.25 3.91751 4.16751 0 9 0C13.8325 0 17.75 3.91751 17.75 8.75C17.75 13.5825 13.8325 17.5 9 17.5C4.16751 17.5 0.25 13.5825 0.25 8.75ZM9 7.75C9.55229 7.75 10 8.19771 10 8.75V11.95C10 12.5023 9.55229 12.95 9 12.95C8.44771 12.95 8 12.5023 8 11.95V8.75C8 8.19771 8.44771 7.75 9 7.75ZM9 4.5498C8.44771 4.5498 8 4.99752 8 5.5498C8 6.10209 8.44771 6.5498 9 6.5498H9.008C9.56028 6.5498 10.008 6.10209 10.008 5.5498C10.008 4.99752 9.56028 4.5498 9.008 4.5498H9Z" fill="currentColor"/>
                                </svg>
                             </span>
                             <div class="pricing__feature-info-tooltip transition-3">
                                <p>Add gradient heading, button, pricing table testimonial etc.</p>
                             </div>
                          </div>
                          <div class="pricing__feature-info-text">
                             <p>{{item.title}}</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xl-8 col-8">
                       <div class="pricing__feature-info-wrapper d-flex align-items-center">
                          <div *ngFor="let f of item.feature_lists" class="pricing__feature-info-available text-center">
                             <p *ngIf="f.icon">
                              <span [innerHTML]="getSafeHtml(f.icon)"></span>
                             </p>
                             <p *ngIf="f.text">
                               {{f.text}}
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>

              <!-- pricing button -->
              <div class="pricing__footer">
                 <div class="row gx-0">
                    <div class="col-xl-4 col-4">
                       <div class="pricing__footer-content"></div>
                    </div>
                    <div class="col-xl-8 col-8">
                       <div class="pricing__btn-wrapper-7 d-flex align-items-center">
                          <div class="pricing__btn-7 text-center">
                             <a routerLink="/pages/contact" class="tp-btnr-border-2">Choose Plan</a>
                          </div>
                          <div class="pricing__btn-7 price-active text-center">
                             <a routerLink="/pages/contact" class="tp-btnr-border-2">Choose Plan</a>
                          </div>
                          <div class="pricing__btn-7 text-center">
                             <a routerLink="/pages/contact" class="tp-btnr-border-2">Choose Plan</a>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
