@use '../utils' as *;

.grey-bg {
    background-color: var(--tp-grey-1);
}
.grey-bg-7 {
	background-color: var(--tp-grey-7);
}
.grey-bg-8 {
    background-color: var(--tp-grey-8);
}
.white-bg {
	background-color: var(--tp-common-white);
}

.black-bg {
    background-color: var(--tp-common-black);
}

.black-bg-5 {
	background-color: var(--tp-common-black-5);
}
.black-bg-9 {
    background-color: var(--tp-common-black-9);
}
.theme-bg-6 {
	background-color: var(--tp-theme-6);
}
[data-bg-color] {
    background-color: var(--tp-common-black);
}
[data-bg-color="footer-bg-dark"] {
	background-color: var(--tp-common-footer-bg-dark);
}
[data-bg-color="footer-bg-black"] {
	background-color: var(--tp-common-footer-bg-black);
}
[data-bg-color="footer-bg-black-2"] {
    background-color: var(--tp-common-footer-bg-black-2);
}
[data-overlay] {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

[data-overlay="footer-bg"] {
    &::before {
        background-color: var(--tp-common-black);
    }
}
