@use '../utils' as *;

.tp-btn{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-black);
	background: var(--tp-theme-4);
	text-align: center;
	font-family: var(--tp-ff-space);
	padding: 10px 30px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	letter-spacing: -0.02em;

	& i,

	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-theme-4-dark);
	}
	&:focus{
		color: var(--tp-common-white);
	}

}

.hamburger-btn{
	width: 34px;
	height: 24px;
	position: relative;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0;

	& span{
		display: inline-block;
		position: absolute;
		left: 0;
		background: var(--tp-common-white);
		height: 2px;
		width: 25px;
		opacity: 1;
		z-index: 1;
		border-radius: 10px;
		@extend %tp-transition;
		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 10px;
			width: 14px;
			left: 50%;
			@include transform(translateX(-50%));
		}
		&:nth-child(3){
			top: 20px;
			right: 0;
			left: auto;
		}
	}

	&:hover{
		& span{
			
			&:nth-child(1){
				left: 10px;
			}
			
			&:nth-child(3){
				right: 10px;				
			}
		}
	}

	&-brown{
		height: 15px;
		width: 30px;
		top: -4px;
		& span{
			background-color: var(--tp-theme-4);

			&:nth-child(1){
				top: 0;
			}
			&:nth-child(2){
				top: 7px;
			}
			&:nth-child(3){
				top: 14px;
			}
		}
	}
	&-black{
		height: 15px;
		width: 30px;
		top: -4px;
		& span{
			background-color: var(--tp-common-black-2);

			&:nth-child(1){
				top: 0;
			}
			&:nth-child(2){
				top: 7px;
			}
			&:nth-child(3){
				top: 14px;
			}
		}

		&:hover{
			& span{
				background-color: var(--tp-theme-1);
			}
		}
	}

	&-text{
		position: relative;
		margin-left: 50px;
		width: 32px;
		height: 12px;
		top: -5px;
		&::after{
			position: absolute;
			content: attr(data-menu-text);
			top: 1px;
			left: -50px;
			font-size: 13px;
			font-weight: 600;
			color: var(--tp-common-black);
			text-transform: uppercase;
			font-family: var(--tp-ff-syne);
			line-height: 1;
			@extend %tp-transition;
		}

		& span{
			display: inline-block;
			position: absolute;
			left: 0;
			background: var(--tp-common-black);
			height: 2px;
			width: 23px;
			opacity: 1;
			z-index: 1;
			border-radius: 10px;
			@extend %tp-transition;
			&:nth-child(1){
				top: 0;
			}
			&:nth-child(2){
				top: 6px;
				width: 12px;
				left: 50%;
				@include transform(translateX(-50%));
			}
			&:nth-child(3){
				top: 12px;
				right: 0;
				left: auto;
				width: 24px;
			}
		}

		&:hover{
			color: var(--tp-common-white);
			&::after{
				color: var(--tp-common-white);
			}
			& span{
				background: var(--tp-common-white);
			}
		}
	}

	
}

.tp-btn-brown{
	display: inline-block;
	font-size: 14px;
	color: var(--tp-common-black);
	padding: 11px 28px 13px;
	background-color: var(--tp-theme-4);
	font-weight: 600;
	letter-spacing: -0.02em;

	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-theme-4-dark);
	}
}
