@use '../utils' as *;

/*----------------------------------------*/
/*  SECTION TITLE CSS START
/*----------------------------------------*/
.section{
    &__title{
        &-4{
            font-size: 60px;
            font-weight: 700;
            font-family: var(--tp-ff-space);
            color: var(--tp-common-black-solid);
            letter-spacing: -0.04em;
            line-height: 1;

            @media #{$lg}{
                font-size: 45px;
            }
            @media #{$md}{
                font-size: 35px;
            }
            @media #{$sm}{
                font-size: 40px;
            }

            @media #{$xs}{
                font-size: 32px;
                & br{
                    display: none;
                }
            }

            &-2{
                font-size: 50px;
                font-family: var(--tp-ff-space);
                color: var(--tp-common-black-solid);
                letter-spacing: -0.04em;
                line-height: 1;

                @media #{$xl, $lg}{
                    font-size: 40px;
                }

                @media #{$xs}{
                    font-size: 35px;
                }
            }

            &-white{
                color: var(--tp-common-white);
            }
            
        }

        &-pre-4{
            font-size: 14px;
            font-weight: 700;
            color: var(--tp-common-footer-bg-black-2);
            text-transform: uppercase;
            font-family: var(--tp-ff-space);
            display: inline-block;
            margin-bottom: 10px;
            position: relative;  
            letter-spacing: 0.1em;   
            
            &-white{
                color: var(--tp-common-white);
            }
        }
    }
}
@include keyframes(section-highlight){
	0%  {
        stroke-dashoffset:800;
    }
    80%  {
        stroke-dashoffset:0;
        fill-opacity:0;
    }
    100%{
        stroke-dashoffset:0;
        fill-opacity:1;
    }
}
@include keyframes(section-highlight-2){
	0%, 100% {
		stroke-dashoffset:800;
	  }
	  50% {
		stroke-dashoffset:0;
	  }
	  100% {
		stroke-dashoffset:0;
	  }
}
@include keyframes(section-highlight-3){
    100% {
    stroke-dashoffset: -900;
  }
}
@include keyframes(section-highlight-4){
    100% {
    width: 100%;
  }
}
