
@use '../utils' as *;


.slider-mt-50{
    margin-top: -51px;

    @media #{$md, $sm, $xs}{
        margin-top: 0;
    }
}

.pt-220{
    padding-top: 220px;
}

.pt-210{
    padding-top: 210px;
}

.mb-8{
    margin-bottom: 8px;
}

.mt--30{
    margin-top: -30px;
}

.pt-13{
    padding-top: 13px;
}
.p-30 {padding: 30px}
.mt-5{margin-top:5px !important}
.mt-20{margin-top:20px}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mb-10{margin-bottom:10px}
.mb-20{margin-bottom:20px}
.mb-30{margin-bottom:30px}
.mb-35{margin-bottom:35px}
.mb-40{margin-bottom:40px}
.mb-50{margin-bottom:50px}
.mb-55{margin-bottom:55px}
.mb-60{margin-bottom:60px}
.mb-65{margin-bottom:65px}
.ml-50{margin-left:50px}
.ml-70{margin-left:70px}
.pt-5{padding-top:5px !important}
.pt-20{padding-top:20px}
.pt-30{padding-top:30px}
.pt-40{padding-top:40px}
.pt-60{padding-top:60px}
.pt-75{padding-top:75px}
.pt-100{padding-top:100px}
.pt-105{padding-top:105px}
.pt-110{padding-top:110px}
.pt-115{padding-top:115px}
.pt-120{padding-top:120px}
.pt-140{padding-top:140px}
.pt-170{padding-top:170px}
.pb-5{padding-bottom:5px !important}
.pb-25{padding-bottom:25px}
.pb-40{padding-bottom:40px}
.pb-55{padding-bottom:55px}
.pb-65{padding-bottom:65px}
.pb-70{padding-bottom:70px}
.pb-80{padding-bottom:80px}
.pb-90{padding-bottom:90px}
.pb-95{padding-bottom:95px}
.pb-100{padding-bottom:100px}
.pb-110{padding-bottom:110px}
.pb-120{padding-bottom:120px}
.pb-140{padding-bottom:140px}
.pl-50{padding-left:50px}

.pl-65{padding-left:65px}
.pl-160{padding-left:160px}
.pr-50{padding-right:50px}
.pr-70{padding-right:70px}
.pr-90{padding-right:90px}
