<div>

  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area breadcrumb__style-7 breadcrumb__bg-3 p-relative z-index-1 include-bg pt-180 pb-100">
      <div class="breadcrumb__bg-shape include-bg" style="background-image: url('/assets/img/breadcrumb/breadcrumb-shape-1.png');"></div>
      <div class="breadcrumb__shape">
         <img class="breadcrumb__shape-1" src="/assets/img/breadcrumb/breadcrumb-dot-1.png" alt="">
         <img class="breadcrumb__shape-2" src="/assets/img/breadcrumb/breadcrumb-dot-2.png" alt="">
      </div>
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9">
               <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1 text-center">
                  <h3 class="breadcrumb__title">Our Talented Team</h3>
                  <div class="breadcrumb__list">
                     <span><a href="/">Home</a></span>
                     <span class="dvdr"><i class="fa-solid fa-circle-small"></i></span>
                     <span>Directory</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->

   <!-- team area start -->
   <section class="team__area pt-100 pb-40">
    <div class="container">

       <div class="row">
          <div *ngFor="let item of team_data" class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
             <div class="team__item mb-55">
                <div class="team__thumb w-img fix transition-3">
                   <div class="tp-thumb-overlay wow"></div>
                      <img [src]="item.img" alt="{{item.name}}">
                   <div class="team__action">
                      <ul>
                         <li>
                            <a href="mailto:{{item.mail}}"><i class="far fa-envelope"></i></a>
                         </li>
                      </ul>
                   </div>
                </div>
                <div class="team__content">
                   <h3 class="team__title">
                      {{item.name}}
                   </h3>
                   <span class="team__designation">{{item.title}}</span><br>
                   <span class="team__designation">(704) 633-5244 ext. {{item.phone}}</span>
                </div>
             </div>
          </div>

          </div>
        </div>
    </section>
    <!-- team area end -->
  </main>

  <!-- footer area start -->
  <app-footer-six [style_2]="true"></app-footer-six>
  <!-- footer area end -->
</div>
