<div>

  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- portfolio area start -->
    <section class="portfolio__area pb-65 pt-110 p-relative">
      <div class="container">
        <div class="row">
          <div class="col-xxl-9 col-xl-10">
            <div class="portfolio__details-wrapper">
              <div class="portfolio__details-content">
                <img src="{{news?.img}}" alt="{{news?.headline}}">
                <h1 class="portfolio__details-title" [innerHTML]="news?.headline">{{ news?.headline }}</h1>
                <p>{{news?.date}} | {{news?.tags}} | Author: <a href="mailto:{{news?.email}}">{{news?.author}}</a> | <a href="{{news?.source}}" target="_blank">Original Article</a></p>
                <p [innerHTML]="news?.body"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium justo orci, ac semper tellus
                    facilisis a. Praesent elit orci, ultrices id sollicitudin aliquam, dapibus ac risus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio area end -->

    <!-- portfolio slider area start -->
    

  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
