<div>

  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__white-solid" bottom_cls=" " [header_solid]="true" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- portfolio area start -->
    <section class="portfolio__area pb-65 pt-110 p-relative">
      <div class="container">
        <div class="row">
          <div class="col-xxl-9 col-xl-10">
            <div class="portfolio__details-wrapper">
              <div class="portfolio__details-content">
                <h3 class="portfolio__details-title">Easily make your <br> own artistic muckup design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium justo orci, ac semper tellus
                  facilisis a. Praesent elit orci, ultrices id sollicitudin aliquam, dapibus ac risus.</p>
              </div>
              <div class="portfolio__details-meta flex-wrap d-flex align-items-center">
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Client:</h5>
                    <span>Nature Planner</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Awards:</h5>
                    <span>First Place</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Production:</h5>
                    <span>Design Lab</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Category:</h5>
                    <span>Portfolio</span>
                  </div>
                </div>
                <div class="portfolio__details-meta-item d-flex align-items-start">
                  <div class="portfolio__details-meta-content">
                    <h5>Date:</h5>
                    <span>Ocober 3, 2021</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio area end -->

    <!-- portfolio slider area start -->
    <section class="portfolio__area fix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="portfolio__details-slider pl-50 pr-50">
              <div class="portfolio__details-slider-active swiper-container" style="overflow: visible;">
                <div class="swiper-wrapper">
                  <div class="portfolio__details-slider-item swiper-slide">
                    <img src="/assets/img/portfolio/details/slider/portfolio-details-slider-1.jpg" alt="">
                  </div>
                  <div class="portfolio__details-slider-item swiper-slide">
                    <img src="/assets/img/portfolio/details/slider/portfolio-details-slider-2.jpg" alt="">
                  </div>
                  <div class="portfolio__details-slider-item swiper-slide">
                    <img src="/assets/img/portfolio/details/slider/portfolio-details-slider-3.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="portfolio-details-slider-dot tp-swiper-dot-2 text-center mt-45"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio slider area end -->

    <!-- skill area start -->
    <section class="skill__area pt-100 pb-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="skill__wrapper-14 mb-40">
              <h3 class="skill-section-title">
                Manage your <br />
                Project smart and easy
              </h3>
              <p>
                Perfectly designed elements and endless customization options.
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="skill__bar">
              <div class="skill__bar-item">
                <h4 class="skill__bar-title">
                  <span>
                    <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M13 4.75V12.25C13 15.25 12.25 16 9.25 16H4.75C1.75 16 1 15.25 1 12.25V4.75C1 1.75 1.75 1 4.75 1H9.25C12.25 1 13 1.75 13 4.75Z"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M8.5 4.48218H5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path
                        d="M6.99844 12.9678C7.64047 12.9678 8.16094 12.4474 8.16094 11.8053C8.16094 11.1633 7.64047 10.6428 6.99844 10.6428C6.35641 10.6428 5.83594 11.1633 5.83594 11.8053C5.83594 12.4474 6.35641 12.9678 6.99844 12.9678Z"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                  Mobile App Design
                </h4>
                <div class="skill__bar-progress">
                  <div class="progress">
                    <div class="progress-bar" data-sal="slide-right" data-sal-delay="0" data-sal-duration="800"
                      role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                      <span>65</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="skill__bar-item is-blue">
                <h4 class="skill__bar-title">
                  <span>
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.108 1H11.885C14.377 1 15 1.712 15 4.552V9.616C15 12.464 14.377 13.168 11.892 13.168H4.108C1.623 13.176 1 12.464 1 9.624V4.552C1 1.712 1.623 1 4.108 1Z"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M8 13.1759V16.9999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M1 9.79993H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M4.84961 17H11.1496" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </span>
                  Website Design
                </h4>
                <div class="skill__bar-progress">
                  <div class="progress">
                    <div class="progress-bar" data-sal="slide-right" data-sal-delay="0" data-sal-duration="800"
                      role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                      <span>90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- skill area end -->

    <!-- counter area start -->
    <app-counter-area-three></app-counter-area-three>
    <!-- counter area end -->

    <!-- portfolio image area start -->
    <section class="portfolio__area pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-10">
            <div class="portfolio__image-box-wrapper">
              <div class="portfolio__image-box-item mb-30 m-img">
                <img src="/assets/img/portfolio/details/portfolio-big-1.jpg" alt="">
              </div>
              <div class="portfolio__image-box-item mb-30 m-img">
                <img src="/assets/img/portfolio/details/portfolio-big-2.jpg" alt="">
              </div>
              <div class="portfolio__image-box-item mb-30 m-img">
                <img src="/assets/img/portfolio/details/portfolio-big-3.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio image area end -->

    <!-- portfolio navigation area start -->
    <section class="portfolio__navigation-area portfolio__more-border d-none d-md-block">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="portfolio__more-left d-flex align-items-center">
              <div class="portfolio__more-icon">
                <a routerLink="/portfolio/details">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 12.9718L2.06061 8.04401C1.47727 7.46205 1.47727 6.50975 2.06061 5.92778L7 1"
                      stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
              <div class="portfolio__more-content">
                <p>Previous Work</p>
                <h4>
                  <a routerLink="/portfolio/details">Traveling Solo Is Awesome</a>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="portfolio__more-menu text-center">
              <a routerLink="/portfolio/masonry">
                <span>
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.6673 4.66662C12.9559 4.66662 14.0006 3.62196 14.0006 2.33331C14.0006 1.04466 12.9559 0 11.6673 0C10.3786 0 9.33398 1.04466 9.33398 2.33331C9.33398 3.62196 10.3786 4.66662 11.6673 4.66662Z"
                      fill="currentColor" />
                    <path
                      d="M2.33331 4.66662C3.62196 4.66662 4.66662 3.62196 4.66662 2.33331C4.66662 1.04466 3.62196 0 2.33331 0C1.04466 0 0 1.04466 0 2.33331C0 3.62196 1.04466 4.66662 2.33331 4.66662Z"
                      fill="currentColor" />
                    <path
                      d="M11.6673 13.9996C12.9559 13.9996 14.0006 12.955 14.0006 11.6663C14.0006 10.3777 12.9559 9.33301 11.6673 9.33301C10.3786 9.33301 9.33398 10.3777 9.33398 11.6663C9.33398 12.955 10.3786 13.9996 11.6673 13.9996Z"
                      fill="currentColor" />
                    <path
                      d="M2.33331 13.9996C3.62196 13.9996 4.66662 12.955 4.66662 11.6663C4.66662 10.3777 3.62196 9.33301 2.33331 9.33301C1.04466 9.33301 0 10.3777 0 11.6663C0 12.955 1.04466 13.9996 2.33331 13.9996Z"
                      fill="currentColor" />
                  </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="portfolio__more-right d-flex align-items-center justify-content-end">
              <div class="portfolio__more-content">
                <p>Next Work</p>
                <h4>
                  <a routerLink="/portfolio/details">A Beautiful Sunday Morning</a>
                </h4>
              </div>
              <div class="portfolio__more-icon">
                <a routerLink="/portfolio/details">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 12.9718L5.93939 8.04401C6.52273 7.46205 6.52273 6.50975 5.93939 5.92778L1 1"
                      stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio navigation area end -->

    <!-- portfolio comment area start -->
    <section class="portfolio__comment grey-bg-7 pt-90 pb-105">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="portfolio__comment-top">
              <h3 class="portfolio__comment-title">Post a Comment</h3>
              <p>Your email address will not be published. Required fields are marked *</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-12">
            <div class="portfolio__comment-form">
              <app-portfolio-post-form></app-portfolio-post-form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio comment area end -->
  </main>

  <!-- footer area start -->
  <app-footer-one></app-footer-one>
  <!-- footer area end -->
</div>
