<div>

  <!-- header area start -->
  <app-header-six></app-header-six>
  <!-- header area end -->

  <main>

    <!-- hero banner area start -->
    <app-hero-banner-six></app-hero-banner-six>
    <!-- hero banner area end -->

    <!-- feature area start -->
    <app-startup-feature></app-startup-feature>
    <!-- feature area end -->

    <!-- about area start -->
    <app-about-area-five></app-about-area-five>
    <!-- about area end -->

    <!-- counter area start -->
    <app-counter-area-four></app-counter-area-four>
    <!-- counter area end -->

    <!-- service area start -->
    <app-service-area-five></app-service-area-five>
    <!-- service area end -->

    <!-- feature list two start -->
    <app-startup-feature-two></app-startup-feature-two>
    <!-- feature list two end -->

    <!-- support area start -->
    <app-support-area-one></app-support-area-one>
    <!-- support area end -->

    <!-- testimonial area start -->
    <app-testimonial-six></app-testimonial-six>
    <!-- testimonial area end -->

    <!-- pricing area start -->
    <app-pricing-startup></app-pricing-startup>
    <!-- pricing area end -->

    <!-- faq area start -->
    <app-faq-area-two></app-faq-area-two>
    <!-- faq area end -->

    <!-- blog area start -->
    <app-blog-area-five></app-blog-area-five>
    <!-- blog area end -->

    <!-- cta area start -->
    <app-cta-area-three></app-cta-area-three>
    <!-- cta area end -->
  </main>

  <!-- footer area start -->
  <app-footer-six></app-footer-six>
  <!-- footer area end -->
</div>
