<form>
  <div class="row">
    <div class="col-lg-4">
      <div class="portfolio__comment-input">
        <input type="text" placeholder="Name *">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="portfolio__comment-input">
        <input type="email" placeholder="Email">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="portfolio__comment-input">
        <input type="text" placeholder="Website">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="portfolio__comment-input">
        <textarea placeholder="Your Comment Here..."></textarea>
      </div>
    </div>
    <div class="col-xxl-12">
      <div class="portfolio__comment-agree d-flex align-items-start mb-25">
        <input class="e-check-input" type="checkbox" id="e-agree">
        <label class="e-check-label" for="e-agree">Save my name, email, and website in this browser for
          the next time I comment.</label>
      </div>
    </div>
    <div class="col-xxl-12">
      <div class="portfolio__comment-btn">
        <button type="button" class="tp-btn">Submit Comment</button>
      </div>
    </div>
  </div>
</form>
