<div>

  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area breadcrumb__style-7 breadcrumb__bg-3 p-relative z-index-1 include-bg pt-75 pb-55">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-8 col-lg-9">
               <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1 text-center">
                  <h1 class="breadcrumb__title">Our Attorneys</h1>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->

   <!-- team area start -->
   <section class="attorney__area pt-100 pb-40">
    <div class="container">
       <div class="row">
          <div *ngFor="let item of attorney_data" class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
             <div class="attorney__item mb-55">
                <div class="attorney__thumb w-img fix transition-3">
                   <div class="tp-thumb-overlay wow"></div>
                   <a [routerLink]="'/attorneys/' + item.url">

                      <img [src]="item.img" alt="{{item.name}}">
                   </a>
                   <div class="attorney__action">
                      <ul>
                         <li>
                            <a href="mailto:{{item.mail}}"><i class="far fa-envelope"></i></a>
                         </li>
                      </ul>
                   </div>
                </div>
                <div class="attorney__content">
                   <h3 class="attorney__title">
                    <a [routerLink]="'/attorneys/' + item.url">
                      {{item.name}}</a>
                   </h3>
                   <span class="attorney__designation">{{item.title}}</span><br>
                   <span class="attorney__designation">{{item.phone}}</span>
                </div>
             </div>
          </div>

          </div>
        </div>
    </section>
    <!-- team area end -->
  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
