<div>
  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->
  <main>

    <!-- about top area start -->
    <section class="about__heading about__heading-overlay about__spacing include-bg jarallax"
      style="background-image: url(/assets/img/about/about-breadcrumb.jpg);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
            <div class="about__heading-content text-center p-relative z-index-1">
              <span class="about__heading-subtitle">A little about us</span>
              <h3 class="about__heading-title">About the Firm</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about top area end -->

    <!-- about text area start -->
    <section class="about__text pt-115 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4">
            <div class="about__text-wrapper" data-sal="slide-up" data-sal-delay="130" data-sal-duration="1000">
              <img src="assets/img/about/about1.jpg" alt="">
              <img src="assets/img/about/about2.jpg" alt="">
              <img src="assets/img/about/about3.jpg" alt="">
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="about__text" data-sal="slide-up" data-sal-delay="160" data-sal-duration="1000">


              <p>Wallace &amp; Graham operates out of three buildings in the heart of downtown historic
                Salisbury, North Carolina, employing over 60 attorneys and legal professionals. Over
                the course of 40 years, lead by Partners Mona Lisa Wallace, Bill Graham, and Whitney
                Wallace Williams, the firm has grown to have regional and national practice and
                scope.</p>

            <p>In 1981, North Carolina attorney Mona Lisa Wallace founded Wallace and Graham.
                Over the years that followed, she became nationally known for taking on cases no
                one else would. She represented members of working families claiming diseases,
                cancers, and injuries caused by some of the largest corporations in the world. Mona
                Lisa has a proven track record for tenacity. Hard-nosed and persistent, she has
                succeeded for clients when no one else thought it possible. Today, she continues to
                represent her clients with passion, drive, heart, and a work ethic second to none.</p>

            <p>Mona Lisa has received hundreds of millions of dollars in verdicts and settlements
                over her 40 years of practice and numerous awards for her dedication to the law and
                to her clients to include: Super Lawyers designation, The Ebbie Award, Top 100 Trial
                Lawyers Award, Leaders in Law Award, NC Hall of Fame, American Trial Lawyer of the
                Year Award (2019, by Public Justice), and Tommy Malone American Eagle Award
                (2020, Southern Trial Lawyers’ Association). She is featured in the book, <a href="https://www.amazon.com/Wastelands-True-Story-Country-Trial/dp/B09FFTLK3D/ref=sr_1_1?crid=T6LU6XRCZAP3&amp;keywords=wastelands&amp;qid=1655221880&amp;s=books&amp;sprefix=wastelands%2Cstripbooks%2C61&amp;sr=1-1" target="_blank">Wastelands,
                The True Story of Farm Country on Trial,</a> written by Corban Addison, which tells the
                true story of her firm’s 8 year battle against Smithfield Foods to bring justice to
                nearby residents of factory farming.</p>

            <p>Partner Bill Graham joined the firm in 1993, and since has been instrumental in
                expanding the reach and capabilities of the firm. Bill leads the firm’s asbestos
                department and focuses a significant part of his time to medical monitoring and
                cancer prevention for clients exposed to asbestos. Bill and his team have achieved
                significant verdicts, including the top 10 jury verdict in the U.S. in 2018 for his
                litigation in Finch v. BASF Catalyst, a gut-wrenching mesothelioma case. Bill has
                been awarded the Order of the Long Leaf Pine by the Governor of NC and serves on
                numerous local boards, including the Novant Health Foundation Board and Catawba
                College Board of Trustees, his alma mater. Bill is known for his compassion towards
                clients, his exceptional recall, and his love and knowledge of medicine and medical
                conditions.</p>

            <p>In 2008, Mona Lisa’s daughter, Attorney/Partner Whitney Wallace, joined the firm.
                Whitney leads the firm’s workers’ compensation injury department while also
                litigating personal injury and complex civil litigation matters. Whitney is a natural
                leader and has an innate passion for fighting for justice for hard-working Americans,
                successfully litigating hundreds claims and numerous trials. She is beloved by her
                clients. In 2020, she started the firm’s charitable program, Wallace &amp; Graham Gives,
                designed to engage Wallace &amp; Graham with its community to help improve
                circumstances for veterans, seniors, homeless, underprivileged youth, and those
                harmed by drunk drivers and abuse, as well as promote improvements to the
                environment, health care practices, and cancer prevention. As a part of its annual
                plan of work, W&amp;G Gives sponsors an “Overcoming Adversity” scholarship program
                providing $15,000 in scholarships to deserving high school seniors.</p>

            <p>Our firm is proud to represent clients in claims both large and small. Our firm is
                known for defending employees who suffer from work-related injuries, diseases, and
                cancers and have difficulty navigating the complexities of the civil justice and
                workers' compensation systems. We have successfully represented thousands of
                workers who tragically developed chemical-related cancers and asbestos-related
                diseases and cancers as a result of occupational exposures. We have helped
                thousands injured by negligent drivers due to no fault of their own. We are proud of
                our work on behalf of retirees who lost pension and retirement benefits, and our work
                on behalf of consumers injured by unsafe products or harmed by fraudulent lending
                practices. We have succeeded in environmental cases to help neighbors negatively
                affected by companies' improper waste and toxin removal methods.</p>

            <p>We continue to represent those harmed by dangerous environmental toxins and
                manmade chemicals; those harmed by hospital and health care conglomerates’
                deceptive and illegal medical billing practices; veterans who have suffered the ill
                effects of water contamination at Camp Lejeune; veterans who suffer poor and
                unacceptable housing conditions at Camp Lejeune and Fort Bragg; and victims of
                senior care abuse.</p>

            <p>We look forward to many more years of bringing legal justice to our deserving clients.
                We pledge to continue to follow our mission to make our clients our priority, and to
                represent each client as we would our own loved one. Helping others is what makes
                our job rewarding. Building relationships with our clients and fighting for them during
                their deepest time of need is what Wallace &amp; Graham is all about.</p>
                <p style="font-style: italic; font-size: 14px; font-weight: 700;">*The results referenced on
                  this page are not the only results the firms have achieved.  Each case is different and must be
                  evaluated on its individual merits.  Prior results do not guarantee similar results can be achieved in future cases.*</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about text area end -->
    <!-- faq area start -->
    <section class="faq__area p-relative">
      <div class="faq__video" style="background-image: url(/assets/img/about/AttorneyPic_new.jpg);">
      </div>
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-xxl-7 col-xl-7 col-lg-7">
            <div class="faq__wrapper-2 faq__gradient-border faq__style-2 tp-accordion pl-160">
              <div class="faq__title-wrapper">
                <span class="faq__title-pre">Get in touch with us to see how</span>
                <h3 class="faq__title">Our Principles</h3>
              </div>
              <div class="accordion" id="faqaccordion">
                <div *ngFor="let item of faq_items" class="accordion-item">
                  <h2 class="accordion-header" [attr.id]="'heading-'+item.id">
                    <button class="accordion-button" [class.collapsed]="!item.show" type="button"
                      data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + item.id"
                      [attr.aria-expanded]="item.show ? 'true' : 'false'" [attr.aria-controls]="'#collapse-' + item.id">
                      {{item.title}}
                      <span class="accordion-btn"></span>
                    </button>
                  </h2>
                  <div [id]="'collapse-' + item.id" class="accordion-collapse collapse" [class.show]="item.show"
                    [attr.aria-labelledby]="'collapse-' + item.id" data-bs-parent="#faqaccordion">
                    <div class="accordion-body">
                      <p>{{item.desc}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- faq area end -->
    <!-- about gallery slider area start -->
    <section class="about__gallery-area fix mt-40 mb-40">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-12">
            <div class="about__gallery-slider pl-50 pr-50 p-relative">
              <div class="about__gallery-slider-active swiper-container" style="overflow: visible">
                <div class="swiper-wrapper">
                  <div *ngFor="let img of gallery_images" class="about__gallery-item swiper-slide">
                    <div class="about__gallery-thumb m-img">
                      <img [src]="img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
