<div class="brand__area grey-bg-7 pt-70 pb-70">
  <div class="container">
     <div class="row">
        <div class="col-xxl-12">
           <div class="brand__slider">
              <div class="brand__slider-active-2 swiper-container">
                 <div class="swiper-wrapper">
                    <div *ngFor="let b of brands" class="brand__item-2 swiper-slide">
                       <img [src]="b" alt="brand">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
