<div>

  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area breadcrumb__style-5 p-relative include-bg pt-170 pb-110 black-bg-9">
      <div class="breadcrumb__bg bg-luminosity include-bg"
        style="background-image: url(/assets/img/bg-1.jpg);">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xxl-8">
            <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1">
              <span class="breadcrumb__title-pre">News Articles</span>
              <h1 class="breadcrumb__title">Wallace & Graham in the news</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- portfolio area start -->
    <section id="main-content" class="portfolio__area pt-60 pb-110">
      <div class="container">
        <div class="row gx-2 grid">
          <div *ngFor="let item of news_data" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 grid-item">
            <div class="portfolio__item mb-8 fix transition-3">
              <div class="portfolio__thumb include-bg" [style.background-image]="'url(' + item.img + ')'"></div>
              <div class="portfolio__content">
                <div class="portfolio__tag">
                  <span><a class="tags" [routerLink]="['/news', encodeHeadline(item.headline)]">{{item.tags}}</a></span>
                </div>
                <h3 class="portfolio__title">
                  <a class="headline" [routerLink]="['/news', encodeHeadline(item.headline)]" [innerHTML]="item.headline"></a>
                </h3>
              </div>
              <div class="portfolio__text">
                <p class="blurb" [innerHTML]="item.blurb"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio area end -->

  </main>


  <!-- footer area start -->
  <app-footer-two></app-footer-two>
  <!-- footer area end -->
</div>
