<section class="servivces__area pt-110">
  <div class="container">
     <div class="row align-items-end">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
           <div class="section__title-wrapper-4 mb-60">
              <span class="section__title-pre-4">Practice Areas</span>
              <h3 class="section__title-4">The area where we practice our law</h3>
           </div>
        </div>
        <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-md-6">
           <div class="services__more-4 mb-65">
              <p>The city and town name generator uses a database of over five million names across modi tempora incidunt.</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div *ngFor="let service of service_data;let i = index" class="col-xxl-4 col-lg-4 col-md-6">
           <div class="services__item-4 mb-30 transition-3 fix" data-sal="slide-up" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
              <div class="services__thumb-4 include-bg transition-3"
              [style.backgroundImage]="'url('+service.bg+')'"></div>
              <div class="services__icon-4 mb-30 transition-3">
                <span [innerHTML]="getSafeHtml(service.icon)"></span>
              </div>
              <div class="services__content-4 transition-3">
                 <h4 class="services__title-4">
                    <a routerLink="/pages/service-details">{{service.title}}</a>
                 </h4>
                 <p>{{service.subtitle}}</p>

              </div>
              <a routerLink="/pages/service-details" class="services-link-btn">Learn More <i class="fa-regular fa-arrow-right"></i></a>
           </div>
        </div>
     </div>
  </div>
</section>
