<section class="servivces__area pt-110">
  <div class="container">
     <div class="row align-items-end">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
           <div class="section__title-wrapper-4 mb-60">
              <span class="section__title-pre-4">Practice Areas</span>
              <h3 class="section__title-4">The area where we practice our law</h3>
           </div>
        </div>
        <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-md-6">
           <div class="services__more-4 mb-65">
              <p>
               Our firm practices a wide array of injury, disease, death, consumer, and environmental tort claims. 
               We investigate the wrongful conduct of companies and the insurance industry. We aim to help our clients 
               in any way possible. Please call to see if we can help.</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div *ngFor="let item of practice_data;let i = index" class="col-xxl-4 col-lg-4 col-md-6">
           <div class="services__item-4 mb-30 transition-3 fix" data-sal="slide-up" [attr.data-sal-delay]="(i+1)*100 + 100" data-sal-duration="1000">
            <div class="services__thumb-4 include-bg transition-3" [ngStyle]="{ 'background-image': 'url(' + item.img + ')' }" ngxOptimizedImage ></div>
              <div class="services__content-4">
                 <h4 class="services__title-4">
                    <a [routerLink]="'/practice/' + item.slug" [innerHTML]="item.name">{{item.title}}</a>
                 </h4>
              </div>
              <a [routerLink]="'/practice/' + item.slug" class="services-link-btn">Learn More <i class="fa-light fa-arrow-right"></i></a>
           </div>
        </div>
     </div>
  </div>
</section>
