<div>

  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__transparent" bottom_cls="header__bottom-border" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

      <!-- breadcrumb area start -->
      <section class="breadcrumb__area breadcrumb__style-5 p-relative include-bg pt-170 pb-110 blue-bg">
        <div class="breadcrumb__bg bg-luminosity include-bg" style="background-image: url(/assets/img/breadcrumb/breadcrumb-bg-5.jpg);"></div>
        <div class="container">
           <div class="row align-items-end">
              <div class="col-xxl-7 col-lg-7">
                 <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1">
                    <span class="breadcrumb__title-pre">Services</span>
                    <div class="breadcrumb__list">
                       <span><a href="#">Home</a></span>
                       <span class="dvdr"><i class="fa-solid fa-circle-small"></i></span>
                       <span><a href="#">Business</a></span>
                       <span class="dvdr"><i class="fa-solid fa-circle-small"></i></span>
                       <span>Investment Trend Monitor: Top Trends in 2022  </span>
                    </div>
                    <h3 class="breadcrumb__title">Tech Solutions <br> for Business</h3>
                 </div>
              </div>
              <div class="col-xxl-5 col-lg-5">
                 <div class="breadcrumb__content breadcrumb__content-2 p-relative z-index-1">
                    <p>Harry IT allows your business and technology computers to store, transmit, analyze, and manipulate big data.</p>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- breadcrumb area end -->

    <!-- services area start -->
    <section class="services__area pt-95 pb-90">
      <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="services__widget">
                  <div class="services__widget-item">
                      <h3 class="services__widget-title">Our Services</h3>
                      <div class="services__widget-content">
                        <div class="services__widget-tab tp-tab">
                            <ul class="nav nav-tabs flex-column" id="servicesTab" role="tablist">
                              <li *ngFor="let item of nav_data" class="nav-item" role="presentation">
                                <button class="nav-link" [class.active]="item.active" [attr.id]="item.id+'-tab'" data-bs-toggle="tab" [attr.data-bs-target]="'#'+item.id" type="button" role="tab" [attr.aria-controls]="item.id" [attr.aria-selected]="item.active ? 'true' : 'false'">
                                  {{item.title}}
                                  <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 11L6 6L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                  </button>
                              </li>
                            </ul>

                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="services__tab-right">
                  <div class="tab-content" id="myTabContent">
                      <div *ngFor="let item of tab_items; let i = index" class="tab-pane fade" [ngClass]="{'show active':item.active}" [attr.id]="item.id" role="tabpanel" [attr.aria-labelledby]="item.id+'-tab'">
                        <div class="services__item-wrapper-14 pl-100">
                            <div *ngFor="let s of item.service_items" class="services__item-14 mb-30">
                              <div class="services__thumb-14 transition-3 include-bg" [style]="{'background-image':'url('+s.bg+')'}"></div>
                              <div class="services__content-14">
                                  <h3 class="services__title-14">
                                    <a routerLink="/pages/service-details">{{s.title}}</a>
                                  </h3>
                                  <p [innerHTML]="s.subtitle"></p>
                                  <div class="services__btn-14">
                                    <a routerLink="/pages/service-details" class="tp-link-btn">
                                        Learn More
                                        <span>
                                          <svg width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M21.6934 1L25 4.20003L21.6934 7.4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M0.999999 4.19897H25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                          <svg width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M21.6934 1L25 4.20003L21.6934 7.4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M0.999999 4.19897H25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                        </span>
                                    </a>
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </section>
    <!-- services area end -->

  </main>

  <!-- footer area start -->
  <app-footer-six [style_2]="true"></app-footer-six>
  <!-- footer area end -->
</div>
