<div class="offcanvas__area offcanvas__area-2" [class.offcanvas-opened]="utilsService.openMobileMenus">
  <div class="offcanvas__wrapper">
     <div class="offcanvas__close">
        <button (click)="utilsService.handleOpenMobileMenu()" class="offcanvas__close-btn offcanvas__close-btn-2 offcanvas-close-btn">
           <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
     </div>
     <div class="offcanvas__content">
        <div class="offcanvas__top mb-60 d-flex justify-content-between align-items-center">
           <div class="offcanvas__logo logo">
              <a href="home-main.html">
              <img src="/assets/img/logo/logo-black.svg" alt="logo">
              </a>
           </div>
        </div>

        <div class="mobile-menu-2 fix mb-40 mean-container">
          <div class="mean-bar">
            <!-- MobileMenus start -->
            <app-mobile-menus></app-mobile-menus>
            <!-- MobileMenus end -->
          </div>
        </div>

        <div class="offcanvas__btn-2">
           <a href="job.html" class="tp-btn-offcanvas-green">We Are Hiring</a>
        </div>
        <div class="offcanvas__text">
           <p>Im a UX Designer, Over the past 10+ years I’ve created well-crafted mobile and web apps by connecting Business goals with user needs.</p>

           <div class="offcanvas__signature mb-40">
              <img src="/assets/img/shape/offcanvas-signature.png" alt="">
           </div>
        </div>

        <div class="offcanvas__link-btn mb-25">
           <a href="contact-2.html" class="tp-link-btn-circle">
              <span>
                 <i class="fa-regular fa-arrow-right"></i>
                 <i class="fa-regular fa-arrow-right"></i>
              </span>
              Work <br> With Us
           </a>
        </div>
        <div class="offcanvas__social">
           <h3 class="offcanvas__social-title">Follow :</h3>
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
           <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
     </div>
  </div>
</div>
<div class="body-overlay" [class.opened]="utilsService.openMobileMenus" (click)="utilsService.handleOpenMobileMenu()"></div>
