
<div>

  <!-- header area start -->
  <app-header-two></app-header-two>
  <!-- header area end -->

  <main>

    <!-- hero banner area start -->
    <app-hero-banner-two></app-hero-banner-two>
    <!-- hero banner area end -->
   <!-- history area start -->
   <section class="history__area pt-30 pb-140 grey-bg-8">
    <div class="container ">
       <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6">
             <div class="section__title-wrapper-4 mb-60">
                <span class="section__title-pre-4">Why Choose Wallace & Graham</span>
                <h3 class="section__title-4">3 Reasons to Choose Us</h3>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xxl-5 col-xl-5 col-lg-6 history_background">
             <div class="history__thumb-wrapper d-sm-flex pr-70">
                <div class="history__thumb">
                   <img src="/assets/img/history/bill_and_client.png" width="370" height="470" alt="Bill and Client">
                </div>
                <div class="history__thumb-right-wrapper">
                   <div class="history__thumb-right p-relative include-bg" style="background-image: url(/assets/img/history/history-2.jpg);">
                      76+
                   </div>
                   <div class="history-thumb-text">
                      <p>Winning Awards</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-7 col-xl-7 col-lg-6">
             <div class="history__list pl-65 pr-90">
                <div *ngFor="let item of history_lists;let i = index" class="history__list-item d-flex align-items-start">
                   <div class="history__year" data-sal="slide-left" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
                      <h5 class="history__year-title">{{item.year}}</h5>
                   </div>
                   <div class="history__list-content">
                      <div class="history__list-dot">
                         <span></span>
                      </div>
                      <div class="history__list-content-inner" data-sal="slide-right" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
                         <h4 class="history__list-title">{{item.title}}</h4>
                         <p [innerHTML]="item.text"></p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
     </div>
   </section>
   <!-- history area end -->

   <!-- service area start -->
   <app-service-area-two></app-service-area-two>
   <!-- service area end -->

   <!-- blog area start -->
   <app-blog-area-two></app-blog-area-two>
   <!-- blog area end -->

   <!-- testimonial area start -->
   <app-testimonial-two></app-testimonial-two>
   <!-- testimonial area end -->

   <!-- team area start -->
   <app-team-area-two></app-team-area-two>
   <!-- team area end -->

    <!-- contact area start -->
    <app-lawyer-contact></app-lawyer-contact>
    <!-- contact area end -->
  </main>

  <!-- footer start -->
  <app-footer-two></app-footer-two>
  <!-- footer end -->
</div>
