<div>

  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__transparent" bottom_cls="header__bottom-border" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area breadcrumb__style-6 p-relative include-bg pt-200 pb-120">
      <div class="breadcrumb__bg-2 breadcrumb__overlay include-bg" style="background-image: url(/assets/img/breadcrumb/breadcrumb-bg-6.jpg);"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-8 col-xl-8 col-lg-10">
            <div class="breadcrumb__content text-center p-relative z-index-1">
              <h3 class="breadcrumb__title">We Offer a Wide Range of Services</h3>
              <div class="breadcrumb__list">
                <span><a href="#">Home</a></span>
                <span class="dvdr"><i class="fa-solid fa-circle-small"></i></span>
                <span>Services</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- service area one start -->
    <app-service-area-one spacing="pt-100 pb-90" [style_2]="true"></app-service-area-one>
    <!-- service area one end -->

    <!-- about area start -->
    <section class="about__area pb-140">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6">
               <div class="about__thumb-wrapper-14 p-relative" data-sal="slide-up" data-sal-delay="130" data-sal-duration="1000">
                  <div class="about__shape">
                     <img class="about__shape-8" src="/assets/img/about/14/about-shape-1.png" alt="">
                     <img class="about__shape-9" src="/assets/img/about/14/about-shape-2.png" alt="">
                  </div>
                  <div class="about__thumb-14 m-img">
                     <img class="about-img-1" src="/assets/img/about/14/about-img-1.jpg" alt="">
                     <img class="about-img-2" src="/assets/img/about/14/about-img-2.jpg" alt="">
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6">
               <div class="about__wrapper-14 pl-75 pt-45" data-sal="slide-up" data-sal-delay="150" data-sal-duration="1000">
                  <div class="tp-section-wrapper-2 mb-40">
                     <span class="tp-section-subtitle-2">EXPERIENCE AGENCY</span>
                     <h3 class="tp-section-title-2">Create out standing and flexible digital services</h3>
                     <p>We help our clients succeed by creating brand identities, digital experiences, and print materials achieve marketing goals.!</p>
                  </div>

                  <div class="about-btn">
                     <a routerLink="/pages/services" class="tp-btn">Our Services</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- about area end -->

   <!-- vision area start -->
   <app-vision-area-two></app-vision-area-two>
   <!-- vision area end -->

   <!-- portfolio area start -->
   <app-portfolio-area-one [style_2]="true"></app-portfolio-area-one>
   <!-- portfolio area end -->

    <!-- support area start -->
    <section class="support__area pb-90">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xxl-7 col-xl-7 col-lg-8 col-md-11">
               <div class="tp-section-wrapper-2 tp-section-wrapper-2-sm mb-60 text-center">
                  <h3 class="tp-section-title-2">Stay connected we Appreciate your feedback.</h3>
                  <p>You’ll have everything you’ll need inside a powerful back-end.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xxl-12">
               <div class="support__wrapper-2 d-flex flex-wrap align-items-center justify-content-center">
                  <div class="support__item-2 d-flex align-items-center mb-10" data-sal="slide-up" data-sal-delay="130" data-sal-duration="1000">
                     <div class="support__icon-2 mr-15">
                        <span>
                           <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.6" d="M10.001 7.77075L8.78035 9.90736C8.50656 10.3783 8.73472 10.7689 9.27088 10.7689H10.7196C11.2672 10.7689 11.484 11.1595 11.2102 11.6304L10.001 13.767" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M5.77981 19.4301V18.0976C3.15605 16.5009 1 13.3878 1 10.0795C1 4.3934 6.19049 -0.0636163 12.054 1.22294C14.6322 1.7973 16.8909 3.52038 18.0659 5.89822C20.4501 10.7228 17.9404 15.8461 14.2557 18.0861V19.4186C14.2557 19.7517 14.3812 20.5214 13.1606 20.5214H6.87495C5.6201 20.5328 5.77981 20.0389 5.77981 19.4301Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path opacity="0.6" d="M6.01172 24.9999C8.62407 24.2533 11.3847 24.2533 13.9971 24.9999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                        </span>
                     </div>
                     <div class="support__content-2">
                        <h3 class="support__title-2">Knowledge Base</h3>
                     </div>
                  </div>
                  <div class="support__item-2 d-flex align-items-center mb-10" data-sal="slide-up" data-sal-delay="150" data-sal-duration="1000">
                     <div class="support__icon-2 mr-15">
                        <span>
                           <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12.5842 19H5.63147C2.15512 19 1 16.7553 1 14.5V5.5C1 2.12233 2.15512 1 5.63147 1H12.5842C16.0605 1 17.2156 2.12233 17.2156 5.5V14.5C17.2156 17.8777 16.0495 19 12.5842 19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path opacity="0.4" d="M20.2732 15.4511L17.2148 13.3668V6.62211L20.2732 4.53779C21.7693 3.52235 23.0014 4.1423 23.0014 5.92734V14.0722C23.0014 15.8573 21.7693 16.4772 20.2732 15.4511Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path opacity="0.4" d="M11.4509 8.93126C12.3623 8.93126 13.1011 8.21343 13.1011 7.32793C13.1011 6.44244 12.3623 5.72461 11.4509 5.72461C10.5396 5.72461 9.80078 6.44244 9.80078 7.32793C9.80078 8.21343 10.5396 8.93126 11.4509 8.93126Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                        </span>
                     </div>
                     <div class="support__content-2">
                        <h3 class="support__title-2">Video Tutorials</h3>
                     </div>
                  </div>
                  <div class="support__item-2 d-flex align-items-center mb-10 wow fadeInUp" data-sal="slide-up" data-sal-delay="170" data-sal-duration="1000">
                     <div class="support__icon-2 mr-15">
                        <span>
                           <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.4" d="M19.1172 17.313L19.5462 20.789C19.6562 21.702 18.6772 22.34 17.8962 21.867L13.2872 19.128C12.7812 19.128 12.2862 19.095 11.8022 19.029C12.6162 18.072 13.1002 16.862 13.1002 15.553C13.1002 12.429 10.3942 9.89903 7.05022 9.89903C5.77422 9.89903 4.59723 10.262 3.61823 10.9C3.58523 10.625 3.57422 10.35 3.57422 10.064C3.57422 5.05899 7.91922 1 13.2872 1C18.6552 1 23.0002 5.05899 23.0002 10.064C23.0002 13.034 21.4712 15.663 19.1172 17.313Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M13.1 15.5531C13.1 16.8621 12.616 18.0722 11.802 19.0292C10.713 20.3492 8.986 21.1961 7.05 21.1961L4.179 22.9011C3.695 23.1981 3.079 22.7911 3.145 22.2301L3.42 20.0632C1.946 19.0402 1 17.4011 1 15.5531C1 13.6171 2.03401 11.9121 3.61801 10.9001C4.59701 10.2621 5.774 9.89917 7.05 9.89917C10.394 9.89917 13.1 12.4291 13.1 15.5531Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                        </span>
                     </div>
                     <div class="support__content-2">
                        <h3 class="support__title-2">Support Forum</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- support area end -->

   <!-- subscribe area start -->
   <section class="subscribe__area p-relative z-index-1">
      <div class="subscribe__bg"></div>
      <div class="container">
         <div class="subscribe__inner-14">
            <div class="row gx-0 align-items-center">
               <div class="col-xl-5 col-lg-5">
                  <h3 class="subscribe__title-14">Join our Newsletter</h3>
               </div>
               <div class="col-xl-7 col-lg-7">
                  <div class="subscribe__form-14">
                     <form action="#">
                        <input type="email" placeholder="Your Email (required)">
                        <button type="submit">Subscribe Me</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- subscribe area end -->
  </main>

  <!-- footer area start -->
  <app-footer-four [style_2]="true"></app-footer-four>
  <!-- footer area end -->
</div>
