<div>

  <!-- header area start -->
  <app-header-four></app-header-four>
  <!-- header area end -->

  <main>

    <!-- hero area start -->
    <app-hero-banner-four></app-hero-banner-four>
    <!-- hero area end -->

    <!-- service area start -->
    <app-service-three></app-service-three>
    <!-- service area end -->

    <!-- about area start -->
    <app-about-area-three></app-about-area-three>
    <!-- about area end -->

    <!-- counter area start -->
    <app-counter-area-three></app-counter-area-three>
    <!-- counter area end -->

    <!-- portfolio area start -->
    <app-portfolio-agency></app-portfolio-agency>
    <!-- portfolio area end -->

    <!-- award area start -->
    <app-agency-award></app-agency-award>
    <!-- award area end -->

    <!-- pricing area start -->
    <app-pricing-agency></app-pricing-agency>
    <!-- pricing area end -->

    <!-- testimonial area start -->
    <app-testimonial-four></app-testimonial-four>
    <!-- testimonial area end -->

    <!-- brand slider area start -->
    <app-brand-slider-two></app-brand-slider-two>
    <!-- brand slider area end -->

    <!-- blog area start -->
    <app-blog-area-four></app-blog-area-four>
    <!-- blog area end -->

    <!-- cta area start -->
    <app-cta-area-two></app-cta-area-two>
    <!-- cta area end -->
  </main>

  <!-- footer area start -->
  <app-footer-four></app-footer-four>
  <!-- footer area end -->
</div>
