<section class="pricing__area p-relative z-index-1 black-bg-5 pt-80 pb-120">
  <div class="pricing__shape">
     <img class="pricing__shape-1" src="/assets/img/price/price-shape-1.png" alt="">
  </div>
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-6">
           <div class="section__title-wrapper-3 text-center mb-60">
              <span class="section__title-pre-3 has-center">03 . PROFESSIONAL</span>
              <h3 class="section__title-3 has-gradient">Simple, transparent <span> Pricing.</span></h3>
           </div>
        </div>
     </div>
     <div class="row">
      <div *ngFor="let item of pricing_data; let i = index" class="col-lg-12 col-md-6">
        <div class="pricing__item mb-20" data-sal="slide-up" [attr.data-sal-delay]="(i+1)*50 + 100" data-sal-duration="1000">
          <div class="row align-items-center">
            <div class="col-xxl-3 col-xl-3 col-lg-3">
              <div class="pricing__content text-center text-lg-start">
                <div class="pricing__category">
                  <span [ngClass]="item.category_class">{{ item.category }}</span>
                </div>
                <h3 class="pricing__title">
                  {{ item.price }} <span class="pricing-currency"> USD</span>
                </h3>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="pricing__feature d-lg-flex align-items-center justify-content-between">
                <ng-container *ngFor="let feature of item.features; let j = index">
                  <div [ngClass]="'pricing__feature-' + feature.position">
                    <ul>
                      <li *ngFor="let l of feature.lists; let k = index" [ngClass]="{'has-denied': l.denied}">
                        {{ l.list }}
                      </li>
                    </ul>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3">
              <div class="pricing__btn text-center text-lg-end">
                <a routerLink="/pages/contact" class="tp-btn-border-3">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>

     </div>
  </div>
</section>
