@use '../../../../../assets/scss/utils' as *;

/*----------------------------------------*/
/*  OFFCANVAS CSS START
/*----------------------------------------*/

.offcanvas{
    $self : &;
    &__top{
        @media #{$md, $sm, $xs}{
            margin-bottom: 30px;
        }
    }
    &__area{
        position: fixed;
        right: 0;
        top: 0;
        width: 360px;
        height: 100%;
        @include transform(translateX(calc(100% + 80px)));
        background: var(--tp-common-white)  none repeat scroll 0 0;
        -webkit-transition: transform 0.45s ease-in-out, opacity .45s ease-in-out;
        -moz-transition: transform 0.45s ease-in-out, opacity .45s ease-in-out;
        transition: transform 0.45s ease-in-out, opacity .45s ease-in-out;
        z-index: 999;
        
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        &.offcanvas-opened{
            @include transform(translateX(0));
            opacity: 1;
        }

        @media #{$xs}{
            width: 100%;
        }
        &-3{
            background-color: var(--tp-common-black-8);
            #{$self}{

               &__close{
                   &-btn{
                       border: 0;
                       color: #fff;
                       opacity: .4;

                       &:hover{
                           opacity: 1;
                       }
                   }
               }
               &__menu{
                    & ul{
                        & li{
                            & a{
                                color: var(--tp-text-17);
                            }

                            &:hover{
                                & > a{
                                    color: var(--tp-common-white);
                                }
                            }
                        }
                    }
               }
            }

            & .mean-container .mean-nav ul li a{
                font-family: var(--tp-ff-space);
                color: var(--tp-common-white);
                border-color: var(--tp-border-1);
                
            }

            .mean-container .mean-nav ul li a.mean-expand{
                border: none !important;
                color: var(--tp-common-white);
            }

            .mean-container .mean-nav ul li a.mean-expand.mean-clicked{
                background-color: var(--tp-common-white);
                color: var(--tp-common-black);
                
            }

            .mean-container .mean-nav ul li.dropdown-opened > a {
                color: var(--tp-common-white);
            }
        }
    }
    &__wrapper{
        position: relative;
        padding: 50px 40px 145px;
        z-index: 1;
        min-height: 100%;

        @media #{$xs}{
           padding: 20px;
        }
    }
    &__close{
        position: absolute;
        top: 30px;
        right: 30px;

        @include rtl{
            left: 30px;
            right: auto;
        }

        @media #{$xs}{
            right: 20px;
            top: 20px;

            @include rtl{
                right: auto;
                left: 20px;
            }
        }
        &-btn{
            display: inline-block;
            font-size: 16px;
            height: 44px;
            width: 44px;
            line-height: 40px;
            border: 2px solid var(--tp-border-5);
            background-color: transparent;
            color: var(--tp-text-1);
            border-radius: 50%;
            &:hover{
                background-color: var(--tp-theme-1);
                border-color: transparent;
                color: var(--tp-common-white);
            }
            & svg{
                @include transform(translateY(-2px));
            }
            &-4{
                color: var(--tp-common-white);
                background-color: transparent;
                border: 0;
                line-height: 16px;
                width: 16px;
                height: 16px;
                opacity: .5;
                &:hover{
                    opacity: 1;
                    background-color: transparent;
                    border-color: none;
                }
            }

        }
    }
    &__contact{
        &-call{
            font-family: var(--tp-ff-space);
            font-weight: 700;
            font-size: 20px;
            color: var(--tp-common-white);
            margin-bottom: 5px;

            & a{
                &:hover{
                    color: var(--tp-theme-4);
                }
            }
        }
    }
    &__social{
        margin-bottom: 22px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--tp-border-5);
        &-title{
            font-family: var(--tp-ff-space);
            font-size: 18px;
            font-family: var(--tp-ff-space);

            &-5{
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 14px;
                line-height: 10px;
                text-transform: uppercase;
                color: var(--tp-common-black);
                margin-bottom: 10px;
            }
        }
        & a{
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 36px;
            text-align: center;
            background: transparent;
            color: var(--tp-common-black);
            margin-right: 5px;
            border: 2px solid var(--tp-border-5);
            @include rtl{
                margin-right: 0;
                margin-left: 5px;
            }
            &:hover{
                background: var(--tp-theme-1);
                color: var(--tp-common-white);
                border-color: var(--tp-theme-1);
            }
        }
        &-4{
            & a{
                display: inline-block;
                width: 44px;
                height: 44px;
                line-height: 40px;
                text-align: center;
                background-color: transparent;
                color: var(--tp-common-white);
                margin-right: 5px;
                border: 2px solid rgba($color: #fff, $alpha: .1);
                border-radius: 50%;

                @include rtl{
                   margin-right: 0;
                   margin-left: 5px;
                }
                &:hover{
                    background-color: var(--tp-common-white);
                    color: var(--tp-common-black);
                    border-color: var(--tp-common-white);
                }
            }
        }

    }
}
.mean-container .mean-bar {
	padding: 0;
	min-height: auto;
	background: none;
}
.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 10px 5%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-top: 1px solid #e0e3ed;
	text-decoration: none;
	text-transform: uppercase;
}