@use '../utils' as *;

/*----------------------------------------*/
/*  17. AWARD CSS START
/*----------------------------------------*/

.award{
    $self:&;
    &__item{
        border: 2px solid var(--tp-border-8);
        padding: 50px 40px;
        position: relative;

        &:hover{
            border-color: var(--tp-common-white);
            box-shadow: 0px 4px 0px #008080, 0px 20px 30px rgba(22, 34, 19, 0.1);

            #{$self}{
                &__icon{
                    & span,
                    & i{
                        border-color: var(--tp-theme-2);
                        color: var(--tp-theme-2);
                    }
                }
            }

        }

        &-4{
            @media #{$xs}{
                margin-bottom: 30px;
            }
        }

        &-5{
            padding: 70px 50px 55px;
            background-color: rgba($color: #5EB74B, $alpha: .1);

            @media #{$lg, $xs}{
                padding: 50px 30px 35px;
            }
        }

        &-8{
            border-bottom: 1px solid #FFFFFF1A;
            padding-top: 40px;
            padding-bottom: 40px;

            @media #{$sm, $xs}{
                padding-left: 40px;
                padding-right: 40px;
            }
            &:hover{
                background-color: #101223;
            }
            &:last-child{
                border-bottom: 0;
            }
        }

        &-9{
            position: relative;
            padding-top: 40px;
            padding-bottom: 43px;
            border-top: 1px solid #EAEAEF;

            &:last-child{
                border-bottom: 1px solid #EAEAEF;
            }
            &::after{
                position: absolute;
                content: '';
                left: auto;
                right: 0;
                bottom: 0;
                width: 0%;
                height: 2px;
                @include tp-gradient((329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%));
                @include transform(matrix(-1, 0, 0, 1, 0, 0));
                @include transition(.6s);

                @include rtl{
                    left: 0;
                    right: auto;
                }
            }


            &:hover{
                &::after{
                    width: 100%;
                    left: 0;
                    right: auto;

                    @include rtl{
                        left: auto;
                        right: 0
                    }

                }
                #{$self}{
                    &__thumb{
                        & img{
                            @include transform(scaleY(1));
                        }
                    }
                }
            }
        }
    }
    &__title{
        font-size: 24px;
        font-weight: 500;
        font-family: var(--tp-ff-oswald);
        margin-bottom: 10px;

        & a{
            &:hover{
                color: var(--tp-theme-2);
            }
        }

        &-4{
            font-family: var(--tp-ff-space);
            font-weight: 700;
            font-size: 45px;
            color: var(--tp-common-black-solid);
            margin-bottom: 0;

            @media #{$lg, $sm, $xs}{
                margin-bottom: 25px;
            }
        }

    }
    &__thumb{
        position: absolute;
        top: 51%;
        right: 14.5%;
        z-index: 99;

        @include rtl{
            right: auto;
            left: 14.5%;
        }
        & img{
            box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.2);
            @include transform(scaleY(0));
            transform-origin: top center;
        }

        @media #{$xs}{
            top: 90%;
            right: 9.5%;
            @include rtl{
                right: auto;
                left: 9.5%;
            }
        }
    }
}
.tp-img-reveal-item {
    & .tp-hover-reveal-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 270px;
      opacity: 0;
      // margin: 0px 0 0 -150px;
      overflow: hidden;
      pointer-events: none;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(10px, 10px);
    }
    &:hover .tp-hover-reveal-bg{
      z-index: 1;
      opacity: 1;
    }
}

