@use '../utils' as *;

/*----------------------------------------*/
/*  43. BLOG CSS START
/*----------------------------------------*/
.list {
    margin-left: 2rem;
}
.blog{
    $self: &;

    &__section-title-7{
        & .section__title-wrapper-7{
            & > p{
                font-family: var(--tp-ff-inter);
                font-size: 20px;
                line-height: 1.5;
                color: #525258;
            }
        }
    }
    &__border-7{
        & .row{
            & [class*="col-"]{
                &:last-child{
                    & #{$self}{
                        &__item-7{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
                &:nth-child(2n){
                    & #{$self}{
                        &__item-7{
                            &::after{
                                @media #{$md}{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__item{
        padding: 20px 20px;
        position: relative;
        &:hover{
            box-shadow: 0px 20px 40px rgba(3, 4, 28, 0.1);
            z-index: 9;
        }

        &-2{
            box-shadow: 0px 6px 0px #EFEFEF, 0px 1px 2px rgba(22, 34, 19, 0.1);

            &:hover{
                box-shadow: 0px 30px 50px rgba(22, 34, 19, 0.1), 0px 6px 0px #008080;

                #{$self}{
                    &__thumb-2{
                        & img{
                            @include transform(scale(1.17) rotate(6deg));
                        }
                    }
                }
            }
        }

        &-4{
            margin-bottom: 70px;
            box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.1);

            visibility: hidden;
            opacity: 0;
            @extend %tp-transition;
            transition-duration: .5s;
            @media #{$xl, $lg, $md, $sm, $xs}{
                visibility: visible;
                opacity: 1;
            }

            &.swiper-slide-prev,
            &.swiper-slide-active,
            &.swiper-slide-next{
                visibility: visible;
                opacity: 1;
            }
        }

        &-5{
            border-radius: 10px;
            border: 1px solid rgba(3, 4, 28, 0.1);
            overflow: hidden;
            background-color: var(--tp-common-white);
            position: relative;
        }

        &-6{
            position: relative;
            padding-top: 25px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba($color: #0D121E, $alpha: .1);

            &:first-child{
                border-top: 1px solid rgba($color: #0D121E, $alpha: .1);
            }

            &:hover{
                #{$self}{
                    &__thumb-6{
                        visibility: visible;
                        opacity: 1;
                        @include transform(scale(1) rotate(-13deg));
                    }
                }
            }
        }

        &-7{
            position: relative;

            &::after{
                position: absolute;
                content: '';
                right: -30px;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #04121F1A;

                @include rtl{
                    right: auto;
                    left: -30px;
                }


                @media #{$lg}{
                    right: -25px;
                    @include rtl{
                        right: auto;
                        left: -25px;
                    }

                }

                @media #{$md}{
                    right: -15px;

                    @include rtl{
                        right: auto;
                        left: -15px;
                    }

                }

                @media #{$sm, $xs}{
                    display: none;
                }
            }

            &:hover{
                #{$self}{
                    &__thumb-7{
                        &::after {
                            -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
                            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,150%,0);
                        }
                    }
                }
            }
        }

        &-8{
            height: 500px;
            &:hover{
                #{$self}{
                    &__thumb-8{
                        @include transform(scale(1.1));
                    }
                }
            }
        }

        &-9{
            &:hover{
                #{$self}{
                    &__thumb-9{
                        & img{
                            @include transform(scale(1.1));
                        }
                    }
                }
            }
        }

        &-10{
            &:hover{
                & #{$self}{
                    &__thumb-10{
                        & img{
                            @include transform(scale(1.1));
                        }
                    }
                }
            }
            &-wrapper{
                @media #{$lg}{
                    margin: 0 -10px;
                }
            }

            &-sm{
                @media #{$lg}{
                    margin: 0 10px;
                    margin-bottom: 12px;
                }
            }
            &-overlay{
                @media #{$lg}{
                    height: 605px;
                }
                &:hover{
                    #{$self}{
                        &__thumb-10{
                            @include transform(scale(1.1));
                        }
                    }
                }

                #{$self}{
                    &__content-10{
                        @media #{$xs}{
                            padding: 0;
                        }

                        &-bottom{
                            border-top: 2px;
                            padding-top: 1px;
                        }
                    }
                }
            }
        }
    }
    &__title{
        font-size: 22px;
        font-family: var(--tp-ff-space);
        margin-bottom: 17px;
        line-height: 1.15;

        @media #{$xs}{
            font-size: 20px;
        }
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }

        &-2{
            font-size: 24px;
            font-weight: 500;
            opacity: .9;
            font-family: var(--tp-ff-oswald);
            margin-bottom: 17px;
            & a{
                opacity: 1;
                &:hover{
                    color: var(--tp-theme-2);
                }
            }
        }

        &-4{
            font-family: var(--tp-ff-space);
            font-size: 23px;
            letter-spacing: -0.02em;

            & a{
                &:hover{
                    color: var(--tp-theme-4);
                }
            }

            @media #{$lg, $xs}{
                font-size: 22px;
            }
        }

        &-5{
            font-family: var(--tp-ff-space);
            font-size: 24px;
            letter-spacing: -0.03em;

            & a{
                &:hover{
                    color: var(--tp-theme-5);
                }
            }

            @media #{$lg}{
                font-size: 22px;
            }
        }

        &-6{
            padding-left: 50px;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: var(--tp-common-black-9);
            font-family: var(--tp-ff-roboto);

            @include rtl{
                padding-left: 0;
                padding-right: 50px;
            }

            @media #{$md, $sm}{
                padding-left: 0;
                margin-bottom: 15px;

                @include rtl{
                    padding-right: 0;
                }
            }

            @media #{$xs}{
                padding-left: 0;
                margin-bottom: 20px;

                @include rtl{
                    padding-right: 0;
                }

                & br{
                    display: none;
                }
            }

            & a{
                &:hover{
                    color: var(--tp-theme-6);
                }
            }
        }

        &-7{
            font-family: var(--tp-ff-inter);
            font-weight: 600;
            font-size: 22px;
            line-height: 1.3;
            letter-spacing: -0.01em;
            color: var(--tp-common-black-11);
            margin-bottom: 9px;

            & a{
                &:hover{
                    color: var(--tp-theme-7);
                }
            }
        }

        &-8{
            font-family: var(--tp-ff-space);
            font-weight: 700;
            font-size: 30px;
            line-height: 1.13;
            letter-spacing: -0.04em;
            color: var(--tp-common-white);

            @media #{$xs}{
                font-size: 24px;
            }

            & a{
                background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
                background-size: 0% 1px, 0 1px;
                background-position: 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size 0.4s linear;

                &:hover{
                    background-size: 0 1px, 100% 1px;
                }
            }
        }

        &-9{
            font-family: var(--tp-ff-syne);
            font-weight: 700;
            font-size: 26px;
            line-height: 1.23;
            color: var(--tp-common-black);

            @media #{$lg, $md, $sm, $xs}{
                & br{
                    display: none;
                }
            }

            & a{
                background-image: linear-gradient(#03041C, #03041C), linear-gradient(#03041C, #03041C);
                background-size: 0% 2px, 0 2px;
                background-position: 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size 0.4s linear;

                &:hover{
                    background-size: 0 2px, 100% 2px;
                }
            }
        }

        &-10{
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: -0.02em;
            margin-bottom: 13px;

            & a{
                &:hover{
                    color: var(--tp-theme-10);
                }
            }

        }
    }
    &__tag{
        & a{
            font-size: 12px;
            font-weight: 500;
            color: var(--tp-text-1);
            display: inline-block;
            padding: 0 16px;
            border: 2px solid var(--tp-border-5);
            font-family: var(--tp-ff-space);
            text-transform: uppercase;
            margin-right: 5px;
            margin-bottom: 12px;

            @include rtl{
                margin-right: 0;
                margin-left: 5px;
            }
            &:hover{
                color: var(--tp-common-white);
                background-color: var(--tp-theme-1);
                border-color: var(--tp-theme-1);
            }
        }

        &-2{
            margin-bottom: 12px;
            & a{
                display: inline-block;
                padding: 0px 11px;
                font-size: 14px;
                font-weight: 600;
                font-family: var(--tp-ff-inter);
                color: var(--tp-theme-2);
                background-color: rgba($color: $tp-green, $alpha: .1);

                &:hover{
                    background-color: var(--tp-theme-2);
                    color: var(--tp-common-white);
                }
            }
        }

        &-4{
            margin-bottom: 12px;
            & a{
                display: inline-block;
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 14px;
                color: var(--tp-theme-4);
                background-color: #AB6C561A;
                padding: 1px 13px;

                &:hover{
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-4);
                }
            }
        }

        &-5{
            margin-bottom: 11px;
            & a{
                display: inline-block;
                padding: 0 17px 1px;
                background-color: rgba($color: #F46A35, $alpha: .1);
                color: var(--tp-common-orange);
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                border-radius: 20px;

                &:hover{
                    color: var(--tp-common-white);
                    background-color: var(--tp-common-orange);
                }
            }
        }

        &-6{
            @media #{$md, $sm, $xs}{
                margin-bottom: 15px;
            }
            & a{
                display: inline-block;
                color: var(--tp-text-18);
                font-family: var(--tp-ff-roboto);
                & i,
                & svg{
                    margin-right: 5px;

                    @include rtl{
                        margin-right: 0;
                        margin-left: 5px;
                    }
                }

                &:hover{
                    color: var(--tp-theme-6);
                }
            }
        }

        &-7{
            & a{
                display: inline-block;
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 15px;
                color: var(--tp-theme-7);
                position: relative;
                padding-right: 18px;
                margin-right: 20px;

                @include rtl{
                    padding-right: 0;
                    margin-right: 0;
                    padding-left: 18px;
                    margin-left: 20px;
                }
                &::after{
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 1px;
                    height: 21px;
                    background-color: #04121F33;

                    @include rtl{
                        right: auto;
                        left: 0;
                    }
                }
                &:hover{
                    color: var(--tp-common-black-11);
                }
            }
        }

        &-8{
            position: absolute;
            top: 20px;
            right: 25px;

            @include rtl{
                right: auto;
                left: 25px;
            }

            & a{
                display: inline-block;
                font-family: var(--tp-ff-space);
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: var(--tp-common-black-12);
                padding: 4px 13px 5px;
                background-color: var(--tp-common-white);
                &:hover{
                    color: var(--tp-common-white);
                    background-color: var(--tp-theme-8);
                }
            }
        }

        &-10{
            @include rtl{
                margin-right: 0;
                margin-left: 10px;
            }
            & a{
                font-family: var(--tp-ff-space);
                font-weight: 500;
                font-size: 14px;
                color: var(--tp-common-purple-7);
                display: inline-block;
                border: 1px solid #5253CE1F;
                border-radius: 6px;
                line-height: 1;
                padding: 3px 11px;

                &:hover{
                    color: var(--tp-common-white);
                    background-color: var(--tp-common-purple-7);
                    border-color: var(--tp-common-purple-7);
                }
            }
        }
    }
    &__content{
        @media #{$lg, $md, $sm, $xs}{
            padding-top: 25px;
        }
        &-10{
            & p{
                @media #{$xl}{
                    margin-bottom: 9px;
                }
                @media #{$md}{
                    margin-bottom: 23px;
                }
            }
        }
    }
    &__meta{
        border-top: 1px solid var(--tp-border-7);
        padding-top: 10px;
        & span{
            font-size: 14px;
            color: var(--tp-text-1);
            font-family: var(--tp-ff-inter);
            position: relative;
            padding-right: 11px;
            margin-right: 8px;
            display: inline-block;

            @include rtl{
                padding-right: 0;
                margin-right: 0;
                margin-left: 6px;
                padding-left: 8px;
            }

            & i{
                margin-right: 5px;
                @include rtl{
                    margin-right: 0;
                    margin-left: 5px;
                }
            }

            & svg{
                @include transform(translateY(-1px));
            }

            &::after{
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                @include transform(translateY(-50%));
                height: 100%;
                width: 1px;
                background-color: var(--tp-border-6);

                @include rtl{
                    left: 0;
                    right: auto;
                }
            }

            &:last-child{
                margin-right: 0;
                padding-right: 0;

                @include rtl{
                    margin-left: 0;
                    padding-left: 0;
                }
                &::after{
                    display: none;
                }
            }

            & a{
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }

        &-2{
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: var(--tp-common-white);
            padding: 10px 16px;
            @include rtl{
                right: auto;
                left: 20px;
            }
            & h4{
                font-size: 20px;
                font-weight: 600;
                font-family: var(--tp-ff-oswald);
                margin-bottom: 0;
                & span{
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--tp-text-6);
                    display: block;
                    font-family: var(--tp-ff-inter);
                }
            }
        }

        &-4{
            padding-top: 12px;
            padding-bottom: 12px;
            border-top: 1px solid #03041C1A;
            & span{
                font-size: 14px;
                color: var(--tp-text-1);
                font-family: var(--tp-ff-inter);

                & a{
                    &:hover{
                        color: var(--tp-theme-4);
                    }
                }

                & svg{
                    @include transform(translateY(-1px));
                }
            }
        }

        &-5{
            margin-bottom: 20px;
            & span{
                display: inline-block;
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 13px;
                color: var(--tp-text-14);
                margin-right: 13px;
                @include rtl{
                    margin-right: 0;
                    margin-left: 13px;
                }
                & i{
                    margin-right: 3px;
                    @include rtl{
                        margin-right: 0;
                        margin-left: 3px;
                    }
                }

                &:last-child{
                    margin-right: 0;
                    @include rtl{
                        margin-left: 0;
                    }
                }

                & a{
                    &:hover{
                        color: var(--tp-theme-5);
                    }
                }

            }
        }

        &-6{
            & span{
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
                color: var(--tp-text-21);
                margin-right: 13px;
                font-family: var(--tp-ff-roboto);

                @include rtl{
                    margin-right: 0;
                    margin-left: 13px;
                }
                & i{
                    margin-right: 3px;
                    color: var(--tp-text-18);
                    @include rtl{
                        margin-right: 0;
                        margin-left: 3px;
                    }
                }

                &:last-child{
                    margin-right: 0;
                    @include rtl{
                        margin-left: 0;
                    }
                }

                & a{
                    &:hover{
                        color: var(--tp-theme-5);
                    }
                }

            }
        }

        &-7{
            & span{
                font-family: var(--tp-ff-inter);
                font-size: 14px;
                margin-right: 15px;

                @include rtl{
                    margin-right: 0;
                    margin-left: 15px;
                }

                & i{
                    margin-right: 3px;
                    color: var(--tp-text-1);

                    @include rtl{
                        margin-left: 3px;
                        margin-right: 0;
                    }
                }

                &:last-child{
                    margin-right: 0;
                    @include rtl{
                        margin-left: 0;
                    }
                }

                & a{
                    &:hover{
                        color: var(--tp-theme-7);
                    }
                }

            }
        }

        &-8{
            margin-bottom: 8px;
            & span{
                font-family: var(--tp-ff-space);
                font-size: 14px;
                padding-right: 16px;
                margin-right: 18px;
                color: var(--tp-common-white);
                position: relative;
                display: inline-block;

                @include rtl{
                    padding-right: 0;
                    margin-right: 0;
                    padding-left: 16px;
                    margin-left: 18px;
                }
                &::after{
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 2px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.3);

                    @include rtl{
                        left: 0;
                        right: auto;
                    }
                }

                &.blog-category{
                    font-weight: 500;
                    text-transform: uppercase;
                }
                & i{
                    margin-right: 3px;
                    color: var(--tp-common-white);

                    @include rtl{
                        margin-right: 0;
                        margin-left: 3px;
                    }
                }

                &:last-child{
                    margin-right: 0;
                    padding-right: 0;

                    &::after{
                        display: none;
                    }
                }

                & a{
                    &:hover{
                        color: var(--tp-theme-8);
                    }
                }

            }
        }

        &-9{
            margin-bottom: 5px;
            & span{
                font-family: var(--tp-ff-syne);
                font-weight: 500;
                font-size: 14px;
                line-height: 12px;
                letter-spacing: 0.02em;
                color: #525258;
                position: relative;
                padding-right: 20px;
                margin-right: 8px;
                display: inline-block;

                @include rtl{
                    padding-right: 0;
                    margin-right: 0;
                    padding-left: 20px;
                    margin-left: 8px;
                }
                &::after{
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 14px;
                    height: 1px;
                    background-color: #525258;

                    @include rtl{
                        right: auto;
                        left: 0;
                    }
                }

                &:last-child{
                    &::after{
                        display: none;
                    }
                }
                & a{
                    &:hover{
                        color: var(--tp-common-black);
                    }
                }

            }
        }

        &-10{
            &-wrapper{
                margin-bottom: 12px;
            }

            & span{
                font-family: var(--tp-ff-space);
                font-size: 14px;
                color: var(--tp-text-1);
                margin-right: 10px;

                @include rtl{
                    margin-right: 0;
                    margin-left: 10px;
                }

                &:last-child{
                    margin-right: 0;

                    @include rtl{
                        margin-left: 0;
                    }
                }

                & svg,
                & i{
                    margin-right: 3px;

                    @include rtl{
                        margin-right: 0;
                        margin-left: 3px;
                    }
                }

                & svg{
                    @include transform(translateY(-1px));
                }

                & a{
                    &:hover{
                        color: var(--tp-theme-10);
                    }
                }
            }

            &.blog-meta-10-2{
                & span{
                    font-family: var(--tp-ff-space);
                    font-size: 14px;
                    color: var(--tp-text-1);
                    color: #84848B;

                    & a{
                        &:hover{
                            color: var(--tp-theme-10);
                        }
                    }
                }
            }
        }

        &-author{
            &-10{
                position: relative;
                padding-right: 15px;
                margin-right: 15px;
                &::after{
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 1px;
                    height: 20px;
                    background-color: #EAEAEF;

                    @include rtl{
                        right: auto;
                        left: 0;
                    }
                }
            }
            &-thumb{
                & img{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 10px;

                    @include rtl{
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }

                &-10{
                    & img{
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        margin-right: 10px;

                        @include rtl{
                            margin-right: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }
            &-content{
                & span{
                    display: inline-block;
                    font-family: var(--tp-ff-inter);
                    font-size: 14px;
                    color: #7A7E83;

                    & a{
                        color: var(--tp-common-black-11);
                        font-weight: 500;

                        &:hover{
                            color: var(--tp-theme-7);
                        }
                    }
                }

                &-10{

                    & span{
                        font-family: var(--tp-ff-space);
                        font-weight: 500;
                        font-size: 14px;
                        color: #7A7E83;

                        & a{
                            color: var(--tp-common-black-11);

                            &:hover{
                                color: var(--tp-theme-10);
                            }
                        }
                    }
                }
            }
        }
    }
    &__thumb{
        position: relative;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        height: 100%;
        & img{
            height: 100%;
            object-fit: cover;
            @media #{$lg, $md, $sm, $xs}{
                width: 100%;
            }
        }

        &-2{
            & img{
                @include transition(.4s);
            }
        }

        &-4{
            height: 100%;
            & img{
                height: 100%;
                object-fit: cover;
                max-height: 270px;

                @media #{$xs}{
                    width: 100%;
                    height: 250px;
                }
            }
        }

        &-5{

            height: 100%;

            @media #{$xs}{
                position: relative;
                width: inherit;
            }
            & img{
                height: 100%;
                object-fit: cover;


                @media #{$lg, $md, $sm, $xs}{
                    width: 100%;
                    height: 300px;
                }
            }
        }

        &-6{
            position: absolute;
            top: -35%;
            left: 0;
            @include transform(rotate(-13deg) scale(.8));
            transform-origin: center;
            @extend %tp-transition;
            visibility: hidden;
            opacity: 0;

            @include rtl{
                left: auto;
                right: 0;
            }

            @media #{$xs}{
                top: -12%;
            }

        }

        &-7{
            border-radius: 30px;
            overflow: hidden;
            position: relative;

            &::after{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,.5);
                -webkit-transition: all .6s;
                transition: all .6s;
                -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);
                transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,-45deg) translate3d(0,-150%,0);

                @include rtl{
                    left: auto;
                    right: 0;
                }
            }
        }

        &-8{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            @include rtl{
                left: auto;
                right: 0;
            }

            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #02030980;

                @include rtl{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    &__author{
        &-thumb{
            & img{
                width: 34px;
                height: 34px;
                border-radius: 50%;
                margin-right: 10px;

                @include rtl{
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }

        &-title{
            font-family: var(--tp-ff-inter);
            font-weight: 500;
            font-size: 16px;
            color: var(--tp-common-black);
            margin-bottom: 0;

            & a{
                &:hover{
                    color: var(--tp-theme-4);
                }
            }
        }
    }
    &__slider{
        position: relative;

        & .swiper-container{
            margin-right: -600px;
            overflow: visible;

            @include rtl{
                margin-right: 0;
                margin-left: -600px;
            }

            @media #{$xl}{
                margin-right: 0;
                @include rtl{
                    margin-left: 0;
                }
            }

            @media #{$lg}{
                margin-right: -300px;
                @include rtl{
                    margin-right: 0;
                    margin-left: -300px;
                }
            }

            @media #{$md}{
                margin-right: -400px;
                @include rtl{
                    margin-right: 0;
                    margin-left: -400px;
                }
            }

            @media #{$sm, $xs}{
                margin-right: 0;
                @include rtl{
                    margin-left: 0;
                }
            }
        }

        & .blog-slider-4{
                & .swiper-pagination-bullet{
                    &.swiper-pagination-bullet-active{
                        background-color: var(--tp-theme-4);

                        &::after{
                            border-color: var(--tp-theme-4);
                        }
                    }
                }
        }

        &-8{
              .swiper-slide-active{
                margin-right: 30px;
                width: calc(60% - 30px) !important;

                @include rtl{
                    margin-right: 0;
                    margin-left: 30px;
                }
              }

              .swiper-slide-next{
                width: 40% !important;
              }

              @media #{$lg}{
                .swiper-slide-active{
                    margin-right: 30px;
                    width: calc(50% - 30px) !important;

                    @include rtl{
                        margin-right: 0;
                        margin-left: 30px;
                    }
                  }

                  .swiper-slide-next{
                    width: 50% !important;
                  }
              }

              @media #{$md, $sm, $xs}{
                .swiper-slide-active{
                    margin-right: 0;
                    width: inherit !important;
                    @include rtl{
                        margin-left: 0;
                    }
                  }

                  .swiper-slide-next{
                    width: inherit !important;
                  }
              }
        }
    }
    &__shape{
        &-1{
            position: absolute;
            z-index: -1;
            bottom: 21%;
            left: 10%;
            -webkit-animation: tpupdown 1s infinite  alternate;
            animation: tpupdown 1s infinite  alternate;

            @include rtl{
                left: auto;
                right: 10%;
            }
        }
        &-2{
            position: absolute;
            z-index: -1;
            top: 18%;
            left: 17%;
            -webkit-animation: tpupdown 1s infinite  alternate;
            animation: tpupdown 1s infinite  alternate;

            @include rtl{
                left: auto;
                right: 17%;
            }
        }
        &-3{
            position: absolute;
            z-index: -1;
            top: 21%;
            right: 10%;
            -webkit-animation: tpupdown 1s infinite  alternate;
            animation: tpupdown 1s infinite  alternate;

            @include rtl{
                right: auto;
                left: 10%;
            }
        }
        &-4{
            position: absolute;
            z-index: -1;
            bottom: 36%;
            right: 15%;
            -webkit-animation: tprotate 1s infinite  alternate;
            animation: tprotate 1s infinite  alternate;

            @include rtl{
                right: auto;
                left: 15%;
            }
        }
    }
    &__more{
        &-6{
            & a{
                padding: 9px 26px;
            }
        }

        &-10{
            & a{
                font-size: 16px;
                padding: 15px 122px 15px;

                @media #{$xs}{
                    padding: 15px 50px 15px;
                }
            }
        }
    }
    &__btn{
        &-5{
            & .tp-link-btn-circle{
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 15px;
                letter-spacing: -0.02em;
                color: var(--tp-common-black);

                & span{
                    margin-left: 7px;

                    @include rtl{
                        margin-left: 0;
                        margin-right: 7px;
                    }
                }

                &:hover{
                    color: var(--tp-theme-5);
                    & span{
                        border-color: var(--tp-theme-5);
                        background-color: var(--tp-theme-5);
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }

    // blog breadcrumb slider

    &__breadcrumb{
        &-height{
            @media #{$sm, $xs}{
                min-height: 500px;
            }
        }
        &-title{
            @media #{$sm}{
                font-size: 42px;
            }

            @media #{$xs}{
                font-size: 30px;
            }
        }
    }

    // blog grid css start


}


.sidebar{
    $self3 : &;
    &__wrapper{
        @media #{$lg}{
            padding-left: 0;
            @include rtl{
                padding-right: 0;
            }
        }
        @media #{$md, $sm, $xs}{
            margin-top: 40px;
            padding-left: 0;
            @include rtl{
                padding-right: 0;
            }
        }
    }
    &__widget{
        &-title{
            position: relative;
            display: inline-block;
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 23px;
        }

        & ul{
            & li{
                list-style: none;
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 12px;
                color: var(--tp-text-1);
                margin-bottom: 6px;
                &:last-child{
                    margin-bottom: 0;
                }
                & a{
                    font-family: var(--tp-ff-space);
                    font-weight: 500;
                    font-size: 15px;
                    color: var(--tp-common-black);
                    position: relative;
                    padding-left: 14px;
                    background: #FFFFFF;
                    box-shadow: 0px 1px 3px rgba(3, 4, 28, 0.06);
                    display: block;
                    padding: 7px 14px;
                    padding-left: 33px;

                    @include rtl{
                        padding-left: 14px;
                        padding-right: 33px;
                    }
                    &::after{
                        position: absolute;
                        display: none;
                        content: '';
                        top: 50%;
                        left: 20px;
                        @include transform(translate(-50%, -50%));
                        width: 4px;
                        height: 4px;
                        background-color: var(--tp-common-black);
                        border-radius: 50%;
                        @extend %tp-transition;

                        @include rtl{
                            left: auto;
                            right: 20px;
                        }
                    }

                    & span{
                        font-family: var(--tp-ff-inter);
                        font-weight: 500;
                        font-size: 12px;
                        color: var(--tp-text-1);
                        display: inline-block;
                        line-height: 1;
                        padding: 4px 11px 5px;
                        border: 1px solid #EAEAEF;
                        border-radius: 20px;
                        margin-top: 2px;
                        @extend %tp-transition;

                        @include rtl{
                            float: left;
                        }
                    }

                    &:hover{
                        color: var(--tp-common-black);
                        background-color: var(--tp-theme-4);

                        &::after{
                            background-color: var(--tp-common-white);
                        }

                        & span{
                            color: var(--tp-common-white);
                            border-color: rgba($color: #fff, $alpha: .3);
                        }
                    }
                }

                &:hover{
                    color: var(--tp-common-white);
                }

                & ul{
                    padding-left: 15px;
                    padding-top: 6px;

                    @include rtl{
                        padding-left: 0;
                        padding-right: 15px;
                    }
                }
            }
        }

        &-style-2{
            & ul{
                & li{
                    & a{
                        border: 1px solid #EAEAEF;
                        box-shadow: none;

                        &:hover{
                            border-color: var(--tp-theme-1);
                        }
                    }
                }
            }
            & #{$self3}{
                &__author{
                    border: 1px solid #EAEAEF;
                    box-shadow: none;
                }
                &__search{
                    & input{
                        border: 1px solid #EAEAEF;
                        box-shadow: none;

                        &:focus,
                        &:hover{
                            border-color: var(--tp-common-black);
                        }
                    }
                    & button{
                        background-color: transparent;
                    }
                }
            }

            & .rc__post{
                background: var(--tp-common-white);
                border: 1px solid #EAEAEF;
                box-shadow: none;
            }

            & .tagcloud a{
                border: 1px solid #EAEAEF;
                box-shadow: none;

                &:hover{
                    border-color: var(--tp-theme-1);
                }
            }
        }
    }

    &__banner{
        &::after{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000, $alpha: .5);

            @include rtl{
                left: auto;
                right: 0;
            }
        }
        &-content{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            z-index: 1;
            background: var(--tp-common-white);
            & h4{
                padding: 15px 20px;
                font-size: 24px;
                color: var(--tp-common-black);
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }
}
