@use '../utils' as *;

/*----------------------------------------*/
/*  24. HISTORY CSS START
/*----------------------------------------*/

.history{
    $self: &;
    &_background{
        z-index: 3;
    }
    &__thumb{
        & img{
            @media #{$xs}{
                width: 100%;
            }
        }
        &-wrapper{
            @media #{$xs}{
                padding-right: 0;

            }
        }
        &-right{
            &-wrapper{
                @media #{$xs}{
                    margin-left: 65px;
                }
            }
            @media #{$xs}{
                margin-top: -70px;
                height: 270px;
                padding-top: 155px;
                display: none;
            }
            @media #{$xs, $sm}{
                display:none;
            }
        }
    }
    &__list{
        $self2: &;

        @media #{$lg}{
            padding-right: 0;
        }
        @media #{$md, $sm, $xs}{
            padding-right: 0;
            padding-left: 0;
            margin-top: 50px;
        }
    }
}