@use '../utils' as *;

/*----------------------------------------*/
/*  13. PORTFOLIO CSS START
/*----------------------------------------*/



.portfolio{
    $self : &;
    &__item{
        position: relative;
        z-index: 1;
        min-height: 650px;

        &:hover{

            #{$self}{
                &__thumb{
                    @include transform(translate3d(0px, 0, 0px) scale3d(0.955, 0.975, 1) skew(0deg));

                    &::after{
                        opacity: .6;
                    }
                }
                &__text{
                    bottom: 20px;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &__thumb{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include transition(.2s);
        transform-style: preserve-3d;

        &::after{
            @include tp-afbf-full();
            opacity: .2;
            @include transition(.2s);
        }
    }
    &__tag{
        & span{
            font-size: 12px;
            font-weight: 700;
            font-family: var(--tp-ff-space);
            text-transform: uppercase;
            color: var(--tp-common-white);
            letter-spacing: 3px;
            position: relative;
            padding-left: 12px;
            &::after{
                position: absolute;
                content: '';
                top: 50%;
                left: 0;
                @include transform(translateY(-50%));
                width: 6px;
                height: 6px;
                background-color: var(--tp-theme-1);
                border-radius: 50%;
                opacity: 0;
            }

        }
    }
    &__title{
        font-size: 28px;
        font-weight: 700;
        color: var(--tp-common-white);
        font-family: var(--tp-ff-space);

        @media #{$lg}{
            font-size: 25px;
        }

        @media #{$xs}{
            font-size: 26px;
        }
    }
    &__content{
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        @media #{$lg, $md}{
            left: 30px;
            right: 30px;
        }
        @media #{$xs}{
            left: 20px;
            right: 20px;
        }
    }
    &__text{
        position: absolute;
        bottom: -20px;
        left: 40px;
        right: 40px;
        @extend %tp-transition;
        visibility: hidden;
        opacity: 0;
        @media #{$lg, $md, $xs}{
            left: 30px;
            right: 30px;
        }
        @media #{$xs}{
            left: 20px;
            right: 20px;
        }
        & p{
            font-size: 16px;
            color: var(--tp-common-white);
            font-family: var(--tp-ff-inter);
        }
    }
    &__section{
        &-title{
            font-weight: 700;
            font-size: 70px;
            line-height: 1;
            letter-spacing: -0.04em;

            @media #{$xs}{
                font-size: 40px;
            }

            @media #{$sm}{
                font-size: 55px;
            }
            &-pre{
                font-family: var(--tp-ff-space);
                font-weight: 500;
                font-size: 13px;
                text-align: center;
                letter-spacing: 0.06em;
                color: #91919A;
                display: inline-block;
                margin-bottom: 3px;
            }
        }
    }
    &__hover{
        &-wrapper{
            background-color: var(--tp-common-white);
            padding: 25px 27px 20px;
        }
        &-title{
            font-size: 24px;
            line-height: 1;
            letter-spacing: -0.02em;
            margin-bottom: 5px;
        }
        &-category{
            & span{
                font-size: 14px;
                line-height: 1;
                position: relative;
                padding-left: 25px;
                &::after{
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 17px;
                    background-color: var(--tp-text-1);
                    height: 1px;
                }
            }
        }
    }
    &__details{
        &-wrapper{
            @media #{$xl}{
                padding-right: 55px;
            }
            @media #{$lg}{
                padding-right: 80px;
            }
        }
        &-subtitle{
            display: inline-block;
            font-family: var(--tp-ff-space);
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.04em;
            color: var(--tp-theme-1);
            margin-bottom: 13px;

        }
        &-title{
            font-size: 3em;
            line-height: 1;
            letter-spacing: -0.04em;
            margin-bottom: 17px;

            @media #{$md}{
                font-size: 60px;
            }

            @media #{$sm}{
                font-size: 45px;
            }

            @media #{$xs}{
                font-size: 35px;
            }

            &-2{
                font-size: 60px;
                line-height: 1;
                letter-spacing: -0.04em;
                margin-bottom: 17px;

                @media #{$xs}{
                    font-size: 42px;
                }
            }
            &-3{
                font-size: 60px;
                line-height: 1;
                letter-spacing: -0.04em;
                color: var(--tp-common-black-solid);
                margin-bottom: 40px;

                @media #{$xs}{
                    font-size: 45px;
                }
            }
            &-sm{
                font-weight: 500;
                font-size: 16px;
                line-height: 1;

                &-2{
                    color: var(--tp-theme-1);
                }
            }
        }
        &-content{
            margin-bottom: 50px;
            & p{
                font-size: 16px;
                line-height: 1.62;
            }
        }
    }
}
@media #{$xl}{
    @include keyframes(fadeInRightPortfolio3){
        0% {
            opacity: 0;
            @include transform(translate(-20px, 115px) rotate(25deg));

        }

        100% {
            opacity: 1;
            @include transform(translate(-79px, 93px) rotate(25deg));
        }
    }
}
@media #{$lg}{
    // portfolio 3
    @include keyframes(fadeInRightPortfolio3){
        0% {
            opacity: 0;
            @include transform(translate(-20px, 115px) rotate(25deg));

        }

        100% {
            opacity: 1;
            @include transform(translate(-202px, 50px) rotate(25deg));
        }
    }

    // portfolio 4
    @include keyframes(fadeInRightPortfolio4){

        0% {
            opacity: 0;
            @include transform(translate(-30px, 120px) rotate(25deg));
        }


        100% {
            opacity: 1;
            @include transform(translate(-70px, 120px) rotate(25deg));
        }

    }

    // portfolio 5
    @include keyframes(fadeInRightPortfolio5){

        0% {
            opacity: 0;
            @include transform(translate(-70px, 0px) rotate(25deg));
        }


        100% {
            opacity: 1;
            @include transform(translate(-180px, 88px) rotate(25deg));
        }

    }

}
@media #{$sm}{
    // portfolio 3
    @include keyframes(fadeInRightPortfolio3){
        0% {
            opacity: 0;
            @include transform(translate(-20px, 115px) rotate(25deg));

        }

        100% {
            opacity: 1;
            @include transform(translate(15px, 149px) rotate(25deg));
        }
    }

    // portfolio 4
    @include keyframes(fadeInRightPortfolio4){

        0% {
            opacity: 0;
            @include transform(translate(-30px, 120px) rotate(25deg));
        }


        100% {
            opacity: 1;
            @include transform(translate(207px, 3px) rotate(25deg));
        }

    }

    // portfolio 5
    @include keyframes(fadeInRightPortfolio5){

        0% {
            opacity: 0;
            @include transform(translate(-70px, 0px) rotate(25deg));
        }


        100% {
            opacity: 1;
            @include transform(translate(0px, -78px) rotate(25deg));
        }

    }

}
@media #{$xs}{


    @include keyframes(fadeInRightPortfolio2){

        0% {
            opacity: 0;
            @include transform(rotate(-25deg) translate( 20px, 169px));
        }


        100% {
            opacity: 1;
            @include transform(rotate(-25deg) translate(-200px, 169px));
        }

    }

    // portfolio 4
    @include keyframes(fadeInRightPortfolio4){

        0% {
            opacity: 0;
            @include transform(translate(-30px, 120px) rotate(25deg));
        }


        100% {
            opacity: 1;
            @include transform(translate(-10px, 0) rotate(25deg));
        }

    }

    // portfolio 5
    @include keyframes(fadeInRightPortfolio5){

        0% {
            opacity: 0;
            @include transform(translate(-70px, 0px) rotate(25deg));
        }


        100% {
            opacity: 1;
            @include transform(translate(5px, 8px) rotate(25deg));
        }

    }

}


