@use '../utils' as *;

/*----------------------------------------*/
/*  09. SERVICES CSS START
/*----------------------------------------*/

.services{
    $self: &;
    &__section-title{
        &-5{
            padding-left: 70px;
            padding-right: 70px;

            @media #{$sm, $xs}{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &__item{
        position: relative;
        z-index: 1;

        &-inner{
            position: relative;
            z-index: 1;
            padding: 50px 30px;
            padding-right: 25px;
            padding-top: 50px;
            border: 1px solid var(--tp-border-5);
            @extend %tp-transition;

            @include rtl{
                padding-left: 30px;
                padding-right: 25px;
            }

            @media #{$lg, $xs}{
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        &:hover{

            #{$self}{
                &__item{
                    &-inner{
                        background-color: var(--tp-common-purple);
                        border-color: transparent;
                    }
                }
                &__title{
                    color: var(--tp-common-white);
                    & a{
                        color: var(--tp-common-white);
                    }
                }
                &__content{
                    & p{
                        color: var(--tp-common-white);
                    }
                }
                &__icon{
                    & span{
                        color: var(--tp-common-white-op-7);
                    }
                }
                &__btn{
                    .tp-btn-border{
                        
                        color: var(--tp-common-white);
                        border-color: rgba($color: #fff, $alpha: .3);

                        &:hover{
                            background-color: var(--tp-common-white);
                            color: var(--tp-common-black);
                            border-color: var(--tp-common-white);
                        }
                    }
                }
                &__shape{
                    &-1{
                        top: 0;
                        visibility: visible;
                        opacity: 1;
                    }
                    &-2{
                        right: 0;
                        visibility: visible;
                        opacity: 1;

                        @include rtl{
                            right: auto;
                            left: 0;
                        }
                    }
                }
            }
        }

        &-4{
            border: 2px solid var(--tp-border-5);
            background-color: var(--tp-common-white);
            padding: 47px 40px 40px;
            position: relative;
            z-index: 1;

            @media #{$lg}{
                padding: 25px 15px 30px;
            }
            &::after{
                position: absolute;
                content: '';
                left: 15px;
                top: 15px;
                right: 15px;
                bottom: 15px;
                border: 2px solid #FFFFFF24;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                @include transform(scale(1.2));
                @extend %tp-transition;
            }
            &:hover{
                background-color: var(--tp-theme-4);
                border-color: var(--tp-theme-4);

                &::after{
                    opacity: 1;
                    visibility: visible;
                    @include transform(scale(1))
                }
                & .services-link-btn{
                    color: var(--tp-common-white);
                    bottom: 35px;
                    visibility: visible;
                    opacity: 1;
                    transition-delay: .1s;
                }

                #{$self}{
                    &__title-4{
                        color: var(--tp-common-white);
                        @include transform(translateY(-93px));
                        transition-delay: 0s;
                        & a{
                            color: var(--tp-common-white);
                        }
                    }
                    &__thumb-4{
                        opacity: .14;
                    }
                    &__icon-4{
                        
                        & i,
                        & span{
                            color: var(--tp-common-white);
                            @include transform(scale(0));
                        }
                    }
                    &__content-4{
                        
                        & p{
                            color: var(--tp-common-white);
                            @include transform(translateY(-93px));
                            transition-delay: .1s;

                        }
                    }
                }
            }
        }

    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        font-family: var(--tp-ff-space);
        color: var(--tp-common-black-solid);
        margin-bottom: 11px;

        &-4{
            font-family: var(--tp-ff-space);
            font-size: 26px;
            letter-spacing: -0.02em;
            margin-bottom: 12px;
            transition-duration: .4s;
            transition-delay: .1s;
            min-height: 95px;

            @media #{$md}{
                font-size: 22px;
            }

            @media #{$xs}{
                font-size: 22px;
            }

        }
    }
    &__content{
        & p{
            font-family: var(--tp-ff-inter);
            font-size: 16px;
            color: var(--tp-text-1);
            line-height: 1.4;
            margin-bottom: 35px;
        }

        &-4{
            position: relative;
            z-index: 1;
            
            & p{
                font-family: var(--tp-ff-inter);
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: var(--tp-text-1);
                transition-duration: .4s;
                transition-delay: 0s;
            }
        }
    }
    &__list{
        @include rtl{
            padding-left: 0;
            padding-right: 100px;
        }
        @media #{$md, $xs}{
            padding-left: 0;

            @include rtl{
                padding-right: 5px;
            }
        }
        &-item{
            &.active{
                #{$self}{
                    &__list-title{
                        font-weight: 700;
                        & button{
                            @include transform(scale(1.4));
                            color: var(--tp-common-white);
                        }
        
                        & .services-tab-link-btn{
                            left: -66px;
                            visibility: visible;
                            opacity: 1;

                            @include rtl{
                                left: auto;
                                right: -66px;
                            }
                        }
                    }
                }
            }

            @at-root {
                #services-item-thumb{
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background-color: var(--tp-common-black-12);
 
                     @for $i from 1 to 25 {
                         &#{$self}-img-#{$i}{
                             & #{$self}-img-#{$i}{
                                visibility: visible;
                                opacity: 1;
                            }
                         }
                     } 
                }
             }
        }
        &-title{
            font-size: 18px;
            font-weight: 500;
            font-family: var(--tp-ff-space);
            color: rgba($color: #fff, $alpha: .6);
            text-align: left;
            @extend %tp-transition;
            transition-duration: .3s;
            position: relative;
            margin-bottom: 26px;
            position: relative;

            @include rtl{
                text-align: right;
            }
            & button{
                display: inline-block;
                transform-origin: left center;

                @include rtl{
                    transform-origin: right center;
                }
            }
            &:hover{
                color: var(--tp-common-white);
            }

            @at-root{
                .services-tab-link-btn{
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    background-color: #FFFFFF14;
                    color: var(--tp-common-white);
                    border-radius: 50%;
                    font-size: 20px;
                    position: absolute;
                    left: -96px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    visibility: hidden;
                    opacity: 0;
                    @extend %tp-transition;

                    @include rtl{
                        left: auto;
                        right: -96px;
                    }

                    @media #{$xs,$md}{
                        display: none;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        top: 48%;
                        left: 0;
                        width: 68px;
                        height: 2px;
                        background-color: var(--tp-common-white);
                        @include transform(translateX(-51%));
                        @extend %tp-transition;

                        @include rtl{
                            left: 110%;
                        }
                    }
                
                    &:hover{
                        color: var(--tp-common-white);
                    }
                }
            }

        }
        &-thumb{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            visibility: hidden;
            opacity: 0;
        }
    }
    &__tab{
        &-content{
            position: relative;
            max-width: 570px;
            height: 420px;
            @media #{$lg, $md}{
                padding-left: 0;
                padding-right: 0;
            }
            @media #{$xs, $sm}{
                padding-left: 0;
                margin-top: 50px;
                padding-right: 0;
            }

            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #FFFFFF1A;
                @include transform(rotate(-20deg));
                z-index: -1;

                @media #{$lg, $sm}{
                    width: 93%;
                }

                @media #{$md}{
                    width: 90%;
                }

                @media #{$xs}{
                    display: none;
                }
            }
        }
        &-logo{
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transform(translate(-50%, 50%));
            z-index: 1;

            &-thumb{
                -webkit-animation: rotate-infinite 15s linear infinite;
                animation: rotate-infinite 15s linear infinite;

                @at-root{
                    @include keyframes(rotate-infinite){
                        0%{
                            transform: rotate(0deg);
                        }
                        100%{
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            &-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
    }
    &__thumb{
        &-3{
            position: relative;
            z-index: 1;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #22264C;
                @include transform(rotate(-20deg));
                z-index: -1;

                @media #{$lg, $md, $sm}{
                    left: -7%;

                    @include rtl{
                        right: -7%;
                        left: auto;
                    }
                }

                @media #{$lg, $md, $sm, $xs}{
                    left: -12%;

                    @include rtl{
                        left: auto;
                        right: -12%;
                    }
                }
            }
        }

        &-4{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        &-5{
            & img{
                height: 220px;

                @media #{$xs}{
                    max-width: 100%;
                }
            }
        }

        &-14{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    &__more{
        & .tp-link-btn-2{
            font-family: var(--tp-ff-space);
            font-weight: 700;
            font-size: 14px;
            text-align: right;
            letter-spacing: -0.02em;
            color: var(--tp-common-black);
            padding-bottom: 2px;

            @include rtl{
                text-align: left;
            }

            &:hover{
                color: var(--tp-theme-1);
            }
        }
        &-4{
            & p{
                font-family: var(--tp-ff-inter);
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &__btn{
        &-5{
            margin-bottom: 70px;

            & .tp-link-btn-circle{
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 15px;
                letter-spacing: -0.02em;
                color: var(--tp-common-black);

                & span{
                    margin-left: 7px;

                    @include rtl{
                        margin-left: 0;
                        margin-right: 7px;
                    }
                }

                &:hover{
                    color: var(--tp-theme-5);
                    & span{
                        border-color: var(--tp-theme-5);
                        background-color: var(--tp-theme-5);
                        color: var(--tp-common-white);
                    }
                }
            }
        }

        &-7{
            & a{
                font-family: var(--tp-ff-inter);
                font-weight: 500;
                font-size: 15px;
                text-align: center;
                letter-spacing: -0.01em;
                color: var(--tp-common-black-solid);
                padding-right: 20px;

                @include rtl{
                    padding-right: 0;
                    padding-left: 20px;
                }
                &:hover{
                    color: var(--tp-theme-7);
                }
            }
        }

        &-9{
            @include transform(translateY(-4px));
            & a{
                font-size: 26px;
                position: relative;
                color: transparent;
                -webkit-background-clip: text;
                color: var(--tp-common-black);
                @include tp-gradient((329deg, #FF91FA 13.55%, #FA6490 48.54%, #F7D86A 86.44%));
                
                &:hover{
                    color: transparent;
                }
            }
        }

        &-14{
            & .tp-link-btn{
                font-family: var(--tp-ff-space);
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.02em;
                color: var(--tp-common-white);
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }

        &-15{
            & a{
                color: var(--tp-common-black);
                font-size: 15px;
                font-weight: 500;

                &:hover{
                    color: var(--tp-theme-1);

                    & i,
                    & svg{
                        @include transform(translateX(6px));
                    }
                }
                
                & i,
                & svg{
                    margin-left: 4px;
                    transition: transform .3s ease-in-out;

                    @include rtl{
                        margin-left: 0;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}

.services-link-btn{
    position: absolute;
    bottom: -35px;
    left: 40px;
    font-family: var(--tp-ff-space);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--tp-common-white);
    transition-delay: 0s;
    transition-duration: .3s;
    visibility: hidden;
    opacity: 0;

    @include rtl{
        left: auto;
        right: 40px;
    }

    @media #{$lg}{
        left: 20px;

        @include rtl{
            left: auto;
            right: 20px;
        }
    }
    & i{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #FFFFFF4D;
        border-radius: 50%;
        margin-left: 5px;
        @extend %tp-transition;

        @include rtl{
            margin-left: 0;
            margin-right: 5px;
        }
    }

    &:hover{
        & i{
            border-color: var(--tp-common-white);
            background-color: var(--tp-common-white);
            color: var(--tp-common-black);
        }
    }
}