@use '../utils' as *;

/*----------------------------------------*/
/*  11. TEAM CSS START
/*----------------------------------------*/

.team{
    $self:&;
    &__item{
        &:hover{
            #{$self}{
                &__thumb{
                    & img{
                        @include transform(scale(1.05));
                    }
                }
            }
        }

        &-6{
            position: relative;

            &:hover{
                #{$self}{
                    &__content-6-bg,
                    &__title-6,
                    &__designation-6{
                        @include transform(translateY(-70px));
                    }
                    &__content-6-bg{
                        transition-delay: .1s;
                    }
                    &__thumb-6{
                        & img{
                            @include transform(scale(1.05));
                        }
                    }
                    &__title-6{
                        transition-delay: .15s;
                    }
                    &__designation-6{
                        transition-delay: .17s;
                    }
                }
            }
        }

        &-8{
            @include transition(.2s);
            
            padding: 50px 25px;
            position: relative;

            @media #{$lg}{
                padding-left: 15px;
                padding-right: 15px;
            }

            &::after{
                position: absolute;
                content: '';
                top: 0;
                left: auto;
                right: 0;
                width: 0%;
                height: 2px;
                background-color: var(--tp-theme-8);
                @extend %tp-transition;

                @include rtl{
                    left: 0;
                    right: auto;
                }
            }
            &:hover{
                @include transform(translateY(-10px));
                transition-delay: 0;
                &::after{
                    width: 100%;
                    left: 0;
                    right: auto;

                    @include rtl{
                        left: auto;
                        right: 0;
                    }
                }

                #{$self}{
                    &__thumb-8{
                        & img{
                            padding: 0;
                            border-color: transparent;
                            transition-delay: .1s;
                        }
                    }
                }
            }
        }

        &-10{
            border-radius: 14px;

            &:hover{
                #{$self}{
                    &__contact{
                        &-overlay{
                            @include transform(scaleX(1));
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__thumb{
        position: relative;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: both;

    }
    &__action{
        position: absolute;
        bottom: 20px;
        right: 20px;

        & ul{
            & li{
                position: relative;
                margin-bottom: 1px;
                z-index: 1;
                list-style: none;

                & > a{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 15px;
                    color: var(--tp-common-black);
                    background-color: var(--tp-theme-4);

                    &:hover{
                        background-color: var(--tp-theme-4-dark);
                        color: var(--tp-common-white);
                    }
                    
                }
                &:hover{
                    & > #{$self}{
                        &__social{

                            & ul{
                                & li{
                                    visibility: visible;
                                    opacity: 1;
                                    
                                    &:nth-child(1){
                                        right: calc(100% + 41px);
                                        z-index: -1;
                                    }
                                    &:nth-child(2){
                                        right: calc(100% + 82px);
                                        z-index: -2;
                                    }
                                    &:nth-child(3){
                                        right: calc(100% + 123px);
                                        z-index: -3;
                                    }
                                    &:nth-child(4){
                                        right: calc(100% + 164px);
                                        z-index: -4;
                                    }
                                    &:nth-child(5){
                                        right: calc(100% + 205px);
                                    }
                                    &:nth-child(6){
                                        right: calc(100% + 246px);
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
    &__title{
        font-size: 20px;
        font-family: var(--tp-ff-inter);
        margin-bottom: 0;
        line-height: 1.1;
        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }

    }
    &__designation{
        font-size: 12px;
        font-weight: 500;
        color: var(--tp-text-1);
        display: inline-block;
        font-family: var(--tp-ff-space);
        text-transform: uppercase;
        line-height: 1;
    }

}
