@use '../utils' as *;

/*----------------------------------------*/
/*  14. TESTIMONIAL CSS START
/*----------------------------------------*/

.testimonial{
    $self: &;
    &__wrapper{
        & .section__title-wrapper{
            padding-left: 125px;
            padding-right: 125px;

            @media #{$xl}{
                padding-left: 70px;
                padding-right: 70px;
            }

            @media #{$lg}{
                padding-left: 60px;
                padding-right: 60px;
            }

            @media #{$md, $sm, $xs}{
                padding-left: 0;
                padding-right: 0;
            }
        }
        & .section__title-pre.section__title-pre-1-2{
            letter-spacing: 0;
            font-weight: 400;
        }
    }
    &__content{
        position: relative;

        &::after{
            @include tp-afbf-default($bg-color: var(--tp-border-1), $height : calc(100% + 40px), $top: -20px, $width: 1px, $left: -50px, $x:0, $y:0);

            @include rtl{
                left: auto;
                right: -50px;
            }

            @media #{$lg, $md, $sm, $xs}{
                display: none;
            }
        }
        & p{
            font-weight: 300;
            font-size: 20px;
            color: var(--tp-common-white);
            line-height: 1.4;
            margin-bottom: 0;
        }
        &-4{
            & p{
                font-size: 20px;
                line-height: 1.5 ;
                color: var(--tp-common-white);
                margin-bottom: 22px;
            }
        }
    }
    &__slider{

        & #{$self}-slider-dot{
            margin-right: 206px;
            text-align: center;
            width: auto;

            @include rtl{
                margin-right: 0;
                margin-left: 206px;
            }

            @media #{$xl, $lg}{
                margin-right: 140px;

                @include rtl{
                    margin-right: 0;
                    margin-left: 140px;
                }
            }

            @media #{$md, $sm, $xs}{
                margin-right: 0;
                @include rtl{
                   margin-left: 0;
                }
            }

        }
        &-nav{
            margin-bottom: 25px;

            & .swiper-slide-thumb-active{

                &::after{
                    visibility: visible;
                    opacity: 1;
                }

                .tp-border-loader svg circle {
                    &:last-child{
                        animation: tp-border-loader 8s linear infinite;
                    }

                }

            }
            &-4{
                & button{
                    width: 40px;
                    height: 180px;
                    line-height: 176px;
                    text-align: center;
                    border: 2px solid #FFFFFF1A;
                    color: var(--tp-common-white);

                    @media #{$md, $sm, $xs}{
                        margin-top: 10px;
                        width: 50%;
                        height: 40px;
                        line-height: 36px;
                    }

                    &:hover{
                        color: var(--tp-common-white);
                        background-color: var(--tp-theme-4);
                        border-color: var(--tp-theme-4);
                    }

                    &#{$self}-4-button-prev{
                        margin-bottom: 10px;
                        @media #{$md, $sm, $xs}{
                            margin-right: 5px;

                            @include rtl{
                                margin-right: 0;
                                margin-left: 5px;
                            }
                        }
                    }

                    &#{$self}-4-button-next{
                        @media #{$md, $sm, $xs}{
                            margin-left: 5px;

                            @include rtl{
                                margin-left: 0;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        &-arrow{
            &-2{
                @media #{$md, $sm, $xs}{
                    display: none;
                }
                & button{
                    width: 60px;
                    height: 60px;
                    line-height: 56px;
                    text-align: center;
                    color: var(--tp-common-white);
                    border: 2px solid rgba($color: #fff, $alpha: .2);
                    border-radius: 50%;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    left: 70px;
                    z-index: 1;
                    @include transform(translateY(-50%));

                    @include rtl{
                        left: auto;
                        right: 70px;
                    }

                    @media #{$lg}{
                        left: 40px;

                        @include rtl{
                            left: auto;
                            right: 40px;
                        }
                    }

                    &#{$self}-2-button-next{
                        left: auto;
                        right: 70px;

                        @include rtl{
                            left: 70px;
                            right: auto;
                        }
                        @media #{$lg}{
                            right: 40px;

                            @include rtl{
                                right: auto;
                                left: 40px;
                            }
                        }
                    }
                    &:hover{
                        border-color: var(--tp-common-white);
                        background-color: var(--tp-common-white);
                        color: var(--tp-common-black);
                    }
                }
            }

            &-6{
                & button{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 38px;
                    text-align: center;
                    font-size: 14px;
                    border: 1px solid rgba(13, 18, 30, 0.2);
                    color: var(--tp-common-black-10);
                    border-radius: 50%;

                    &:hover{
                        color: var(--tp-common-white);
                        background-color: var(--tp-theme-6);
                        border-color: var(--tp-theme-6);
                    }

                    &#{$self}-6-button-next{
                        margin-left: 3px;

                        @include rtl{
                            margin-left: 0;
                            margin-right: 3px;
                        }
                    }
                }
            }

            &-8{
                & button{
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    line-height: 58px;
                    text-align: center;
                    font-size: 18px;
                    border: 1.5px solid rgba($color: #fff, $alpha: .3);
                    color: var(--tp-common-white);
                    position: absolute;
                    top: 50%;
                    left: 0;

                    @include rtl{
                        left: auto;
                        right: 0;
                    }

                    &#{$self}-8-button-next{
                        left: auto;
                        right: 0;

                        @include rtl{
                            left: 0;
                            right: auto;
                        }
                    }

                    &:hover{
                        color: var(--tp-common-white);
                        background-color: var(--tp-theme-8);
                        border-color: var(--tp-theme-8);
                    }
                }
            }

            &-9{
                & button{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    @include transform(translateY(-50%));
                    z-index: 1;
                    font-family: var(--tp-ff-syne);
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 12px;
                    text-transform: uppercase;
                    color: var(--tp-common-black);
                    padding-right: 30px;

                    @include rtl{
                        left: auto;
                        right: 0;
                        padding-right: 0;
                        padding-left: 30px;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        width: 1px;
                        height: 100px;
                        background-color: #EAEAEF;

                        @include rtl{
                            right: auto;
                            left: 0;
                        }
                    }

                    &:hover{
                        color: #FA6490;
                    }

                    & span{
                        position: relative;
                    }

                    & i,
                    & svg{
                        margin-right: 4px;

                        @include rtl{
                            margin-right: 0;
                            margin-left: 4px;
                        }
                    }

                    & svg{
                        @include transform(translateY(-1px));
                    }


                    &#{$self}-9-button-next{
                        padding-left: 30px;
                        padding-right: 0;
                        left: auto;
                        right: 0;

                        @include rtl{
                            padding-left: 0;
                            padding-right: 30px;
                            left: 0;
                            right: auto;
                        }
                        &::after{
                            left: 0;
                            right: auto;

                            @include rtl{
                                left: auto;
                                right: 0;
                            }
                        }
                        & i,
                        & svg{
                            margin-right: 0;
                            margin-left: 4px;

                            @include rtl{
                                margin-right: 4px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

            &-15{
                & button{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 36px;
                    text-align: center;
                    font-size: 14px;
                    border: 2px solid #E7E7EF;
                    color: var(--tp-common-black);

                    &:hover{
                        color: var(--tp-common-white);
                        background-color: var(--tp-theme-1);
                        border-color: var(--tp-theme-1);
                    }

                    &#{$self}-15-button-next{
                        margin-left: 3px;

                        @include rtl{
                            margin-left: 0;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
        &-thumb-nav{
            position: relative;
            background-color: var(--tp-theme-2);
            &:hover{
                cursor: pointer;
            }

            & img{
                width: 70px !important;
                height: 70px;
                border: 1px solid transparent;
                border-radius: 50%;
                padding: 5px;
            }

            & .tp-border-loader{
                position: absolute;
                top: 0;
                left: 0;

                @include rtl{
                    left: auto;
                    right: 0;
                }
                & svg{
                    width: 70px;
                    height: 70px;
                }
            }
        }

    }
    &__item{
        &-4{
            padding: 40px 60px;
            background: rgba(255, 255, 255, 0.04);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);

            @media #{$xs}{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &__rating{
        margin-bottom: 5px;
        color: var(--tp-common-yellow);
        & .fa-star {
            margin: 0px 2px;
        }
        & a{
            font-size: 16px;
            color: var(--tp-common-yellow);
        }
        &-content{
            & p{
                font-weight: 500;
                font-size: 14px;
                color: var(--tp-common-black);
                margin-bottom: 0;
            }
        }

    }
    &__icon{
        margin-bottom: 24px;

        & span{
            color: var(--tp-common-white);
            font-size: 40px;
        }

        &-10{
            margin-bottom: 17px;
            & span{
                display: inline-block;
                width: 70px;
                height: 70px;
                line-height: 66px;
                text-align: center;
                border: 2px solid rgba($color: #fff, $alpha: .12);
                border-radius: 50%;
                font-size: 24px;
                color: var(--tp-common-white);
            }
        }
    }
    &__info{
        padding-right: 60px;
        @include rtl{
            padding-right: 0;
            padding-left: 60px;
        }

        @media #{$xl}{
            padding-right: 40px;
            @include rtl{
                padding-right: 0;
                padding-left: 40px;
            }
        }
        @media #{$lg}{
            padding-right: 0;
            @include rtl{
                padding-left: 0;
            }
        }
        @media #{$md, $sm, $xs}{
            padding-right: 0;
            margin-bottom: 50px;
            @include rtl{
                padding-left: 0;
            }
        }
        &-title{
            font-size: 170px;
            line-height: .9;
            color: var(--tp-common-black);

            @media #{$lg}{
               font-size: 158px;
            }

            @media #{$xs}{
                font-size: 120px;
            }

            & img{
                @include transform(translateY(-6px));
            }

            &.has-background{
                -webkit-background-clip:text;
                background-clip: text;
                color: transparent;
                @include background();
            }
        }
        & p{
            font-family: var(--tp-ff-space);
            font-weight: 500;
            font-size: 26px;
            line-height: 1.15;
            letter-spacing: -0.04em;
            color: var(--tp-common-black);
            margin-bottom: 37px;
        }
        &-btn{
            & .tp-btn{
                padding: 12px 28px;

                &:hover{
                    background-color: var(--tp-common-black);
                }
            }
        }
    }
    &__heading{
        font-family: var(--tp-ff-inter);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: var(--tp-common-black-11);
        margin-bottom: 10px;
    }
}
