<div>

  <!-- header area start -->
  <app-header-eleven></app-header-eleven>
  <!-- header area end -->

  <main>

    <!-- hero banner area start -->
    <app-hero-banner-ten></app-hero-banner-ten>
    <!-- hero banner area end -->

    <!-- cta area start -->
    <app-cta-area-six></app-cta-area-six>
    <!-- cta area end -->

    <!-- feature area start -->
    <app-politician-features></app-politician-features>
    <!-- feature area end -->

    <!-- vision area start -->
    <app-vision-area-one></app-vision-area-one>
    <!-- vision area end -->

    <!-- counter area start -->
    <app-counter-area-six></app-counter-area-six>
    <!-- counter area end -->

    <!-- event area start -->
    <app-event-area-two></app-event-area-two>
    <!-- event area end -->

    <!-- biography area start -->
    <app-polity-biography></app-polity-biography>
    <!-- biography area end -->

    <!-- team area start -->
    <app-team-area-five></app-team-area-five>
    <!-- team area end -->

     <!-- donate area start -->
     <section class="donate__area">
      <div class="container">
         <div class="donate__inner grey-bg-4">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="donate__wrapper">
                     <div class="donate__content mb-45 text-center">
                        <h3 class="donate__title">Get involved with contribution, make yourself proud!</h3>
                        <p>Donate today to support lower taxes for middle class</p>
                     </div>
                     <div class="donate__form">
                        <form action="#">
                           <div class="donate__form-inner d-lg-flex align-items-center justify-content-center">
                              <div class="donate__ammount-wrapper d-flex flex-wrap align-items-center mr-20">
                                 <div class="donate__ammount">
                                    <button type="submit">$10</button>
                                 </div>
                                 <div class="donate__ammount">
                                    <button type="submit">$15</button>
                                 </div>
                                 <div class="donate__ammount">
                                    <button type="submit">$20</button>
                                 </div>
                                 <div class="donate__ammount">
                                    <button type="submit">$25</button>
                                 </div>
                                 <div class="donate__ammount">
                                    <button type="submit">$30</button>
                                 </div>
                                 <div class="donate__ammount donate__ammount-more">
                                    <button type="button" id="donate_more">More</button>
                                 </div>
                              </div>
                              <div class="donate__more mb-10">
                                 <a routerLink="/pages/contact" class="tp-btn-7">Donate Now</a>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- donate area end -->

   <!-- blog area start -->
   <app-blog-area-nine></app-blog-area-nine>
   <!-- blog area end -->

   <!-- testimonial area start -->
   <app-testimonial-ten></app-testimonial-ten>
   <!-- testimonial area end -->

   <!-- subscribe area start -->
   <section class="subscribe__area fix p-relative black-bg-18">
    <div class="subscribe__shape">
       <img class="subscribe__shape-3" src="/assets/img/cta/10/subscribe-shape-1.png" alt="">
    </div>
    <div class="container">
       <div class="subscribe__inner-10 pt-70 pb-30 has-border">
          <div class="row align-items-end">
             <div class="col-xxl-7 col-xl-7 col-lg-6">
                <div class="section__title-wrapper-10 is-white mb-45">
                   <span class="section__title-pre-10">Subscribe our newsletter</span>
                   <h3 class="section__title-10">Get update every week</h3>
                </div>
             </div>
             <div class="col-xxl-5 col-xl-5 col-lg-6">
                <div class="subscribe__form-10 mb-55">
                   <form action="#">
                      <div class="subscribe__input-10 p-relative">
                         <input type="email" placeholder="Enter your email">
                         <button type="submit" class="tp-btn-7">Subscribe Now</button>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
  </section>
  <!-- subscribe area end -->

  </main>

  <!-- footer area start -->
  <app-footer-ten></app-footer-ten>
  <!-- footer area end -->
</div>
