<section class="blog__area p-relative z-index-1 pt-150 pb-130">
  <div class="blog__shape">
     <img class="blog__shape-1" src="/assets/img/blog/5/shape/shape-1.png" alt="">
     <img class="blog__shape-2" src="/assets/img/blog/5/shape/shape-2.png" alt="">
     <img class="blog__shape-3" src="/assets/img/blog/5/shape/shape-3.png" alt="">
     <img class="blog__shape-4" src="/assets/img/blog/5/shape/shape-4.png" alt="">
  </div>
  <div class="container">
     <div class="row">
        <div class="col-xxl-12">
           <div class="section__title-wrapper-5 mb-50 text-center">
              <span class="section__title-pre-5">Our Blogs</span>
              <h3 class="section__title-5">Read the latest news.</h3>
           </div>
        </div>
     </div>
     <div class="row">
        <div *ngFor="let blog of blog_items; let i = index" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
           <div class="blog__item-5 mb-30" data-sal="slide-up" [attr.data-sal-delay]="i+1 + '00'" data-sal-duration="1000">
              <div class="row align-items-center">
                 <div class="col-xl-5 col-lg-12">
                    <div class="blog__thumb-5">
                       <a [routerLink]="'/blog/blog-details/' + blog.id">
                          <img [src]="blog.img" alt="">
                       </a>
                    </div>
                 </div>
                 <div class="col-xl-7 col-lg-12">
                    <div class="blog__content-5">
                       <div class="blog__tag-5">
                          <a href="javascript:void(0)">{{blog.tag}}</a>
                       </div>
                       <h3 class="blog__title-5">
                          <a [routerLink]="'/blog/blog-details/' + blog.id" [innerHTML]="blog.title"></a>
                       </h3>
                       <div class="blog__meta-5">
                          <span><i class="fa-regular fa-clock"></i>{{blog.date}}</span>
                          <span><i class="fa-regular fa-comment"></i> {{blog.comment}} Comment</span>
                       </div>
                       <p>{{blog.sm_text}}</p>

                       <div class="blog__btn-5">
                          <a [routerLink]="'/blog/blog-details/' + blog.id" class="tp-link-btn-circle">
                             Read More
                             <span>
                                <i class="fa-regular fa-arrow-right"></i>
                                <i class="fa-regular fa-arrow-right"></i>
                             </span>
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>

     <div class="row">
        <div class="col-xxl-12">
           <div class="blog__more-5 mt-30 text-center" data-sal="slide-up" data-sal-delay="170" data-sal-duration="1000">
              <a routerLink="/blog/blog-grid" class="tp-btn-round">View our all News</a>
           </div>
        </div>
     </div>
  </div>
</section>
