<div>

  <!-- header area start -->
  <app-header-seven></app-header-seven>
  <!-- header area end -->

  <main>

    <!-- hero banner area start -->
    <app-hero-banner-seven></app-hero-banner-seven>
    <!-- hero banner area end -->

    <!-- service area start -->
    <app-service-area-six></app-service-area-six>
    <!-- service area end -->

    <!-- about area start -->
    <app-about-area-six></app-about-area-six>
    <!-- about area end -->

    <!-- cta area start -->
    <app-cta-area-four></app-cta-area-four>
    <!-- cta area end -->

    <!-- portfolio area start -->
    <app-portfolio-creative></app-portfolio-creative>
    <!-- portfolio area end -->

    <!-- team area start -->
    <app-team-area-three></app-team-area-three>
    <!-- team area end -->

    <!-- blog area start -->
    <app-blog-area-six></app-blog-area-six>
    <!-- blog area end -->


    <!-- testimonial area start -->
    <app-testimonial-seven></app-testimonial-seven>
    <!-- testimonial area end -->


    <!-- brand area start -->
    <app-brand-four></app-brand-four>
    <!-- brand area end -->

    <!-- cta area start -->
    <app-cta-area-five></app-cta-area-five>
    <!-- cta area end -->

  </main>

  <!-- footer area start -->
  <app-footer-seven></app-footer-seven>
  <!-- footer area end -->
</div>
